In [11]:
# # Convert the list of usd in indian currency and japanese currency.
# Create a function for this task

lst_usd=[100,500,7660,450]
# lst_inr=[7600,33000,]
# lst_jap=[]


def currency_conver(lst_usd):
    lst_inr=[]
    lst_jap=[]
    for i in lst_usd:
        lst_inr.append(i*76)
        lst_jap.append(i*124)
    return lst_inr,lst_jap

In [13]:
lst_inr,lst_jap=currency_conver(lst_usd)
lst_inr

[7600, 38000, 582160, 34200]

# Map function in Python

The map function takes two arguments

1. A function name

2. A sequence iterable that is a list,tuple,string.

Syntax: map(function_name,iterable)

In [15]:
def convert_usd_to_inr(curr):
    return curr*76


lst_usd=[100,500,7660,450]

list(map(convert_usd_to_inr,lst_usd))

[7600, 38000, 582160, 34200]

In [20]:
# Convert a list of temperature from fahrenheit to celsius using map function

lst_temp=[78,65,98,43,56]

def farhenheit_to_celsius(temp):
    return (temp-32)*(5/9)

list(map(farhenheit_to_celsius,lst_temp))

[25.555555555555557,
 18.333333333333336,
 36.66666666666667,
 6.111111111111112,
 13.333333333333334]

In [23]:
#Write a python program to find total marks from both lists using map function
Marks=[45,65,43,65,43]
Marks2=[65,78,43,54,6]

# Total_marks=[45+65,65+78....]

In [24]:
def summ(Marks1,Marks2):
    return Marks1+Marks2

list(map(summ,Marks,Marks2))

[110, 143, 86, 119, 49]

In [25]:
lst=[1,2,3,4]
list(map(str,lst))

['1', '2', '3', '4']

In [26]:
# Write a python program to find the cube of each number in the list
lst=[3,4,12,32,54,32]
def cube(num):
    return num**3
list(map(cube,lst))

[27, 64, 1728, 32768, 157464, 32768]

In [27]:
# Write a python program to listify a list of given strings


lst_colors=["Red","Black","Blue","Orange"]

# Output:
#     [['R','e','d'],['B','l','a','c','k'],['B','l','u','e'],['O','r','a','n','g','e']]

In [28]:
list(map(list,lst_colors))

[['R', 'e', 'd'],
 ['B', 'l', 'a', 'c', 'k'],
 ['B', 'l', 'u', 'e'],
 ['O', 'r', 'a', 'n', 'g', 'e']]

In [30]:
string='Upgrad'
list(string)

['U', 'p', 'g', 'r', 'a', 'd']

In [35]:
# Write a python program to extract the string in the list which have vowels

Strings=['Inderpreet','Sonal','Abhishek','Gym','Dry']

def vowel_in_string(string):
    string=string.upper()
    for i in string:
        if i in 'AEIOU':
            return string
    else:
        return ""

In [34]:
list(map(vowel_in_string,Strings))

['INDERPREET', 'SONAL', 'ABHISHEK', None, None]

# Filter function

The filter method will filter the given iterable with the help of a function that will check whether the element in the sequence is true or not

Syntax: filter(func_name,iterable)

Iterable can be a list,set,tuple or any other iterator

In [7]:
# Write a python program to extract the string in the list which have vowels
#using filter function

Strings=['Inderpreet','Sonal','Abhishek','Gym','Dry',"Rohit",'']

def vowel_in_string(string):
    string=string.upper()
    for alphabet in string:
        print(alphabet)
        if alphabet in 'AEIOU':
            print(string)
            return string

    
list(filter(vowel_in_string,Strings))

I
S
A
G
D
R

['Inderpreet', 'Sonal', 'Abhishek', 'Gym', 'Dry', 'Rohit']

In [23]:
#Write a python program to extract prime numbers from a list

lst_prime=[1,2,3,5,7,12,43,17,32]


def check_prime(num):

    if num==1:
        return False
    for i in range(2,int(num/2)+1):
        print("The number is---",num)
        if(num%i==0):
            print("This number is not prime",num)
            return False
    
    return True
    
list(filter(check_prime,lst_prime))

[2]

In [19]:
for i in range(2,2):
    print(i)

# Lambda function in Python

Lambda functions are anonymous functions that means functions without name


Syntax: lambda arguments: expressions

In [25]:
def cube(num):
    return num**3

In [26]:
cube(3)

27

In [27]:
lambda_cube=lambda num:num**3
lambda_cube(3)

27

In [32]:
def max_two_numbers(num1,num2):
    if num1>num2:
        return num1
    else :
        return num2

In [33]:
max_two_numbers(20,16)

20

In [34]:
max_two_numb2=lambda num1,num2:num1 if(num1>num2) else num2
max_two_numb2(20,16)

20

In [36]:
# Write a python program to filter out a list of ages where age is>50

age_lst=[30,21,43,12,43,65,56,21]

list(filter(lambda age:age>50,age_lst))

[65, 56]

# Reduce Function in Python

The reduce function is used to apply a specific function passed in the arguments to all elements of the list

How does reduce function works:

1. At first, it will choose only the first two elements of the sequence

2. Next step it will apply the same function to the previous result and the number just succeeding to the second element and result is stored.

3. This will continue until there is no element left in the sequence.


For using this reduce function we have to import functools

In [39]:
import functools
lst=(1,2,3,4,12,43)
functools.reduce(lambda num,num2:num+num2,lst)

65

In [44]:
# Write a python program to find the greatest
#number from the list using reduce function with lambda

numbers=[1,43,555,21,34,65,122121,54,21,431]

functools.reduce(lambda num1,num2:num1 if (num1>num2) else num2,numbers)

122121

In [45]:
strings=["My","Name","is","Inderpreet"]
functools.reduce(lambda num,num2:num+" "+ num2,strings)

'My Name is Inderpreet'

# List comprehension


List comprehension consist of brackets containing the expression, which is executed for each element along with the loop to iterate over each element


Syntax: [expression (element) for element in lst]

In [56]:
string='Inderpreet'

[alphabet for alphabet in string]

['I', 'n', 'd', 'e', 'r', 'p', 'r', 'e', 'e', 't']

In [50]:
string='Inderpreet'

[alphabet for alphabet in string if alphabet in 'aeiou']

['e', 'e', 'e']

In [52]:
# Write a python program using list comprehension to find square of the number

lst=[1,5,7,56,32]
[num**2 for num in lst]

[1, 25, 49, 3136, 1024]

In [60]:
lst=[]
for i in range(0,3):
    lst2=[]
    for j in range(1,6):
        lst2.append(j)
    lst.append(lst2)
lst

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [61]:
[[j for j in range(1,6)] for i in range(0,3)]

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [ ]:
[[1,2,3,4,5],[1,2,3,4,5]]