In [1]:
a=2
b=3
a+b

5

In [2]:
print("Hello Everyone")

Hello Everyone

In [4]:
print("hello everyone")

hello everyone

In [5]:
3/4

0.75

In [6]:
2+3

5

In [5]:
3/4

0.75

In [7]:
5+10 #(Shortcut to run the cell is Shift +Enter)

15

In [8]:
#hi how are you guys
#Comment- It is used to note down anything important in the code

In [9]:
22+1

23

In [10]:
1+2

3

# How to open the jupyter notebook in a specific Folder

1. Open Command Prompt
2. Command------> cd Path_location
3. Write-------->jupyter notebook
It will be opened in your browser

# Integers
#Integers are the numbers without any decimal or complex component

Examples--> (1,2,3,-1,-5,-222,12,21123424,43421212112)

In [11]:
a=2
b=3
type(a)

int

In [12]:
a=342222213
type(a)    #Type syntax helps us to identify the data type

int

# Float

Float are the numbers with a decimal component

Example------>(1.1112,3.2121,1.5,-4312.222)

In [13]:
num=1.3212
type(num)

float

# Boolean 
Boolean can be defined by typing True or False
True------->Yes(In human language)
False------->No(In human language)

In [ ]:
a=True
type(a)

In [14]:
a=1

a==3

False

In [15]:
a=3

a>10

False

# Strings

Strings can be defined with any of single quotes('),double quotes (") or triple quotes ('"). All will give the same results.

In [16]:
Name="Inderpreet"
type(Name)

str

In [18]:
var=False
var

False

In [19]:
a="a"
type(a)

str

In [20]:
Sent="My name is Inderpreet and I am your instructor for Data Science batch"
Sent

'My name is Inderpreet and I am your instructor for Data Science batch'

In [21]:
name='Hello guys'
name

'Hello guys'

In [22]:
type(name)

str

In [23]:
a="123456789inder#$%^&*($##@$%%^)"
type(a)

str

In [24]:
b="1.4"
type(b)

str

# Variables
A variable in Python is defined through assignment. 
a=10

In [25]:
a=10

In [26]:
b=15

# Simple Boolean Expression

In [27]:
True and False

False

In [28]:
True or False

True

In [29]:
not True

False

In [30]:
not False

True

# IF/ELIF/ELSE

Python provides the if statement based on condition. It will only go inside the if condition if it is true

Syntax: if(Condition):
            Code

In [36]:
a=10
if(a<5):
    print("I am inside if condition")
print("I am out of the if condition")

I am out of the if condition

In [39]:
num=8

if(num<5):
    print("This number is less than 5")
elif(num>5 and num<10):
    print("Number is between 5 and 10")

Number is between 5 and 10

In [37]:
num=8
num>5 and num<10

True

In [41]:
num=13
if(num%2==0):
    print("This is a even number")
elif(num%2!=0):
    print("This is a odd number")

This is a odd number


# ! This means not condition

So 3!=5 (This means we are checking if 3 is not equal to 5)

In [42]:
3!=5

True

In [43]:
5!=5

False

# Some more examples on String

In [45]:
NAME='INDER'

In [46]:
print("hello everyone")

hello everyone

In [47]:
print(3+5)

8

# String Indexing---> Python use indexes for each character in the string. 
We use brackets[] to access the character present at that index

In [49]:
Name="Inderpreet"
Name[0]

'I'

In [50]:
Name[4]

'r'

# Strings are immutable that means unchangeable

In [55]:
Name2='Pradeep'
Name2[0]

'P'

In [56]:
print("My name is---->",Name2)

My name is----> Pradeep

# Slicing----> It grabs anything from the point that is designated

In [58]:
Name="Inderpreet"

Name[0:4]

'Inde'

In [59]:
Name[5:8]

'pre'

In [61]:
Name[-1]

't'

In [62]:
Name[0:5]

'Inder'

In [64]:
Name[:-5]          #Indexing from right to left

'Inder'

In [65]:
name ='Venkatesh'
name[-5:-2]

'ate'