In [1]:
flavour=input("what flavuour would you like?")
dessert_type=input("what type of dessert would you like?")
print("you have entered", flavour + dessert_type)

what flavuour would you like?chocolate
what type of dessert would you like?moose
you have entered chocolatemoose

In [4]:
str1='Upgrad'
str1[1::4]

'pd'

In [2]:
str1='Inderpreet'
str1[2::6]

'de'

# List

1. Lists can be considered as a sequence of items. Lists can contain one or more than one primitive data structure and non-primitive data structure.
2. Lists are represented by ----->[ ]
3. Lists are mutable that means we can changes the lists

In [13]:
grocery=["Milk","eggs",'oats','cereal','cottage-cheese']
grocery

['Milk', 'eggs', 'oats', 'cereal', 'cottage-cheese']

In [14]:
grocery[4]='Cheese'
grocery

['Milk', 'eggs', 'oats', 'cereal', 'Cheese']

In [23]:
grocery=["Milk","eggs",'oats','cereal','cottage-cheese']
#Q1. Write a python program to change the 3 elements of the list in upper case


grocery[2]=grocery[2].upper()

In [24]:
grocery

['Milk', 'eggs', 'OATS', 'cereal', 'cottage-cheese']

# Indexing

In [25]:
# That we need to buy the first 3 items from the list
grocery[0:3]

['Milk', 'eggs', 'OATS']

In [31]:
#I want to buy only the odd index items from the list
grocery[1::2]

['eggs', 'cereal']

In [32]:
grocery

['Milk', 'eggs', 'OATS', 'cereal', 'cottage-cheese']

# Append function in function--> it adds element at the end of the list

In [34]:
grocery.append('Poha')

In [35]:
grocery

['Milk', 'eggs', 'OATS', 'cereal', 'cottage-cheese', 'Poha']

In [36]:
grocery.append(5)
grocery.append(True)
grocery

['Milk', 'eggs', 'OATS', 'cereal', 'cottage-cheese', 'Poha', 5, True]

In [37]:
lst=[1,2,3,1,21,21,21,1,2,1,2,12,21,1,212,21,21,21,12,21,1,21,21,2,1,21,2,21,21,21]
lst.count(21)
#it will give you the count of an element in list

14

# Index

Index function return the position at which the element is stored

In [38]:
lst2=['4',3,'inder','upgrad','rohit','rahul']
lst2.index('upgrad')

3

In [39]:
lst2.index('rahul')

5

In [40]:
lst2

['4', 3, 'inder', 'upgrad', 'rohit', 'rahul']

# Pop---> this function will remove the last element by default,otherwise it will remove the element with the index

In [42]:
lst2.pop()

'rahul'

In [43]:
lst2

['4', 3, 'inder', 'upgrad', 'rohit']

In [44]:
lst2.pop(2)

'inder'

In [45]:
lst2

['4', 3, 'upgrad', 'rohit']

In [46]:
lst2.pop()

'rohit'

In [47]:
lst2

['4', 3, 'upgrad']

In [48]:
lst2

['4', 3, 'upgrad']

# insert

Two arguments are placed in insert method

Syntax: insert(index,object)

In [49]:
lst2

['4', 3, 'upgrad']

In [50]:
lst2.insert(3,'Vaidehi ')
lst2

['4', 3, 'upgrad', 'Vaidehi ']

In [51]:
lst2.insert(4,'rohan')
lst2

['4', 3, 'upgrad', 'Vaidehi ', 'rohan']

In [53]:
lst2.insert(2,'youtube')
lst2

['4', 3, 'youtube', 'upgrad', 'Vaidehi ', 'rohan']

In [54]:
lst2

['4', 3, 'youtube', 'upgrad', 'Vaidehi ', 'rohan']

In [56]:
lst2[2]='netflix'
lst2

['4', 3, 'netflix', 'upgrad', 'Vaidehi ', 'rohan']

# remove--> it will remove the first occurence of a value

In [57]:
lst3=[1,2,3,2]
lst3.remove(2)
lst3

[1, 3, 2]

In [58]:
string='Inder preet Inder'
string.count('Inder')

2

In [59]:
lst4=[1,2,3,4]
del lst4

In [62]:
lst5=[1,2,'aditya']
lst5[2]='aditya roy'
lst5

[1, 2, 'aditya roy']

In [66]:
lst1=[1,2,3,4,5]
lst1.pop(2)

lst1

[1, 2, 4, 5]

In [67]:
lst2=[1,2,3,4,5]
lst2.remove(2)
lst2

[1, 3, 4, 5]

In [74]:
lst=['inder','rohit','rahul','rohit']

# Q1. Add any name at the end of the list
# Q2. Remove the element stored at 2 index using pop and remove
# Q3. Count the number of times rohit is present in the list using function

In [75]:
#Ans1.
lst.append('vasu')
lst

['inder', 'rohit', 'rahul', 'rohit', 'vasu']

In [ ]:
#Ans2
#lst.pop(2)
lst.remove('rahul')

In [76]:
lst.count('rohit')

2

In [73]:
string = "OQYWFClFhFGAvIWYwGKpmZhnJiyzTslSIhSwvOsqJMEphzmifTkyqOMNpnOtXZxmCfgDYqbaBHAUvIWhMnvwZnEMVDvmEfLrDoQnAZgQEgXQVnmSYkfedpAdhrtpOgORpYLRZYGWdhWYuqQssCUXtTzKRDAhpjUheOzUroZNzWFtZOVwIapzUYtbSbjYNErzQ"
string.index('A',12)

74

# Sort function

In [81]:
lst3=[1,12,12,21,4,21,12,453,21,21,-1] 
#sort the list in ascending order---> low to high

lst3.sort()
lst3

[-1, 1, 4, 12, 12, 12, 21, 21, 21, 21, 453]

In [83]:
#sort the list in descending order-----> high to low
lst4=[1,12,12,21,4,21,12,453,21,21,-1] 
lst4.sort(reverse=True)
lst4

[453, 21, 21, 21, 21, 12, 12, 12, 4, 1, -1]

# Important things about sort

1. Sort function will change your original iterable

In [ ]:
#[-1,1,-11,2]--->[-11,-1,1,2]--> [2,1,-1,-11]
#original_lst--->list after sort->reverse the list

In [92]:
lst=[1,11,-2]
lst.sort(reverse=True)

In [93]:
lst

[11, 1, -2]

In [101]:
lst3=['inder','aman','rohit','50','1','100']
lst3.sort()
lst3

['1', '100', '50', 'aman', 'inder', 'rohit']

# Sorted Function

In [102]:
lst3=['inder','aman','ajit','rohan','kaustubh','shashi']
lst3.sort()
lst3

['ajit', 'aman', 'inder', 'kaustubh', 'rohan', 'shashi']

In [104]:
lst3=['inder','aman','ajit','rohan','kaustubh','shashi']
sorted(lst3)

['ajit', 'aman', 'inder', 'kaustubh', 'rohan', 'shashi']

In [105]:
lst3

['inder', 'aman', 'ajit', 'rohan', 'kaustubh', 'shashi']

# Difference between sort and sorted

1.Sort function will affect the original iterable that means it will change the order of the original list.

2. Sorted function will never affect the original iterable that means it will keep the original list intact.

In [107]:
string = "OQYWFClFhFGAvIWYwGKpmZhnJiyzTslSIhSwvOsqJMEphzmifTkyqOMNpnOtXZxmCfgDYqbaBHAUvIWhMnvwZnEMVDvmEfLrDoQnAZgQEgXQVnmSYkfedpAdhrtpOgORpYLRZYGWdhWYuqQssCUXtTzKRDAhpjUheOzUroZNzWFtZOVwIapzUYtbSbjYNErzQ"

string.index('Y',3)

15

In [109]:
lst = [12, 12, 15, 16, 19, 12, 3, 72, 0, 12]
lst.index(12,6)

9

In [110]:
lst.count(12)

4

In [111]:
d={}
type(d)

dict

# Tuples

1. Tuples are immutable.
2. Tuples would represent the data that we cannot change.
3. Tuples are represented by----> ()

#For example: We don't want someone to change our Aadhaar no,passport number, credit card,etc. -->

In [112]:
tup=(1,2,3,4,5)

In [114]:
type(tup)

tuple

In [115]:
tup2=('inder','deepak','giguru',True)
tup2

('inder', 'deepak', 'giguru', True)

In [116]:
tup2[2]

'giguru'

In [117]:
tup2[2]='rohit' #that means we cannot change tuples

TypeError: 'tuple' object does not support item assignment

In [118]:
tuple_aadhaar=(616412121345,534211234567,656576874354)
tuple_aadhaar[0]=652343

TypeError: 'tuple' object does not support item assignment

In [122]:
tuple1=(1,3,5,23,21,-1,1,-2121)
sorted(tuple1)[2]

1

In [130]:
tuple2=(1,43,21,21,43,1221)
type(tuple2)
lst(tuple2)

#tuples cannot be changed into another Non primitive data structure

TypeError: 'list' object is not callable

In [129]:
lst=[1,2,12,43]
tuple(lst)

(1, 2, 12, 43)

In [133]:
tup=(1,21,12222222,342)
lsttup1=[tup]

In [135]:
lsttup1[0]

(1, 21, 12222222, 342)

In [140]:
lst2=(1,2,12,122222,12)
lst2=list(lst2)
lst2

[1, 2, 12, 122222, 12]

# Sets

1. Sets are unordered collection of unique element that means sets always contain distinct values and
there is no indexing possible.

2. Sets are represented by------>{}

3. Empty Set---->set()

In [146]:
sets={1,2,2,'index','5'}

In [148]:
sets[2] #Its an unordered collection

TypeError: 'set' object is not subscriptable

In [151]:
#Q. Out of the given list make sure that all elements stored in the list are unique
unique_name=['inder','inder','rohit','rohan']
unique_name=list(set(unique_name))
marks=[56,32,76]
unique_name

['inder', 'rohit', 'rohan']

In [158]:
string='Inderpreet'

set(string)

{'I', 'd', 'e', 'n', 'p', 'r', 't'}

# Dictionaries

1. Dictionaries are mutable

2. Dictionaries exist in key and value

3. Dictionaries are represented by -------> {}

In [159]:
dict_marks={"Sankalp":76,"Gaurav":87,"Supriti":76}

dict_marks['Gaurav']

87

In [162]:
dict_amazon={"Books":["zero_to_one","harry_potter","intelligent_investor"],"Mobiles":["Apple","Samsung"],"Fashion":['Kurtis',"T-Shirts"]}

In [167]:
dict_amazon['Fashion'][0]

'Kurtis'

In [169]:
dict_amazon={"Books":{"Finance":['Psychology of Money'],'Life':['Beloved']},"Mobiles":{"Apple":['Iphone12'],"Samsung":['S21','Note12']},"Fashion":{"Kurtis":['Girls Kurtis','Women kurtis']},"T-shirt":['V-neck','Round-next']}

In [178]:
dict_amazon

{'Books': {'Finance': ['Psychology of Money'], 'Life': ['Beloved']},
 'Mobiles': {'Apple': ['Iphone12'], 'Samsung': ['S21', 'Note12']},
 'Fashion': {'Kurtis': ['Girls Kurtis', 'Women kurtis']},
 'T-shirt': ['V-neck', 'Round-next']}

In [181]:
dict_amazon['Mobiles']['Samsung'][1]

'Note12'