# Input/Output in Python

In [12]:
#input method is used to take an input and bydefault the input is of string type

name=input("Please enter your name ")
name

Please enter your name inder

'inder'

In [10]:
#converting string into integer
no=int(input("please enter an even no "))
no

please enter an even no 6

6

In [6]:
name

'inder'

In [2]:
a=5
a

5

In [4]:
name

'Inderpreet Singh'

# Typecasting

What is typecasting?

Conversion of a data type to another category of data type is called typecasting

In [17]:
a='3.1111211'

In [18]:
type(a)

str

In [19]:
b=True
type(b)

bool

In [20]:
print("Hello everyone welcome to the session ")

Hello everyone welcome to the session

In [21]:
a=1000
print(" My number a is---------> ",a)

 My number a is--------->  1000

In [24]:
name="inder"
print("My name is",name)

My name is inder

In [28]:
var=1212121
print("Hello everyone ",var)

Hello everyone  1212121

In [29]:
#Q. Write a print statement about yourself.


print(" I am working as a data scientist from past 3 years")

 I am working as a data scientist from past 3 years

In [30]:
#Q. Write a python program to multiply 2 numbers (*).. Ex 2,3--->6

2*3

6

In [31]:
#Q. Print the product of those two numbers .

num1=2
num2=3
product=num1*num2
print(" The product after multiplication is-> ",product)

 The product after multiplication is->  6

In [34]:
#Q. Divide 2 numbers by taking an input from the user

num1=int(input("Please enter the first no "))
num2=int(input("Please enter the second no "))

# division=0
division=num1/num2
print("the result after division is---->",division)

Please enter the first no 5
Please enter the second no 2
the result after division is----> 2.5

In [44]:
str2=" Welcome  to  the !?! session"

str2[19]

'?'

In [43]:
name='Deepak'
name[3]

'p'

# Slicing is a technique to extract the substring from the main string

In [48]:
str3="Upgrad"

str3[2:5]

'gra'

In [49]:
str4="Welcome to the session"

str4[7:15]

' to the '

In [50]:
# Link for more questions: https://www.geeksforgeeks.org/python-programming-examples/

In [57]:
str5="Upgrad Class"

str5[5:11]

'd Clas'

In [ ]:
str6="Welcome to my data science course"
str6[4:18:2]

In [59]:
str7='Inderpreet Singh'
str7[5:13:2]

'petS'

In [60]:
str8="Shweta"
len(str8)

6

In [61]:
str9="Hello How "
len(str9)

10

In [63]:
str10=input("Please enter a string")

str10[6:16]

Please enter a stringHello folks how are you

'folks how '

In [64]:
str11="Inderpreet Singh"

str11[0:len(str11)]

'Inderpreet Singh'

In [68]:
str12="Upgrad my name is inderpreet so I will be taking today's sessions. "
str12[0:22]

'Upgrad my name is inde'

In [78]:
str_new="Upgrad"

str_new[-3:]

'rad'

# String InBuilt functions

#https://www.w3schools.com/python/python_ref_string.asp


Method	Description

capitalize()	Converts the first character to upper case

casefold()	Converts string into lower case

center()	Returns a centered string

count()	Returns the number of times a specified value occurs in a string

encode()	Returns an encoded version of the string

endswith()	Returns true if the string ends with the specified value

expandtabs()	Sets the tab size of the string

find()	Searches the string for a specified value and returns the position of where it was found

format()	Formats specified values in a string

format_map()	Formats specified values in a string

index()	Searches the string for a specified value and returns the position of where it was found

isalnum()	Returns True if all characters in the string are alphanumeric

isalpha()	Returns True if all characters in the string are in the alphabet

isascii()	Returns True if all characters in the string are ascii characters

isdecimal()	Returns True if all characters in the string are decimals

isdigit()	Returns True if all characters in the string are digits

isidentifier()	Returns True if the string is an identifier

islower()	Returns True if all characters in the string are lower case

isnumeric()	Returns True if all characters in the string are numeric

isprintable()	Returns True if all characters in the string are printable

isspace()	Returns True if all characters in the string are whitespaces

istitle()	Returns True if the string follows the rules of a title

isupper()	Returns True if all characters in the string are upper case

join()	Converts the elements of an iterable into a string


ljust()	Returns a left justified version of the string

lower()	Converts a string into lower case

lstrip()	Returns a left trim version of the string

maketrans()	Returns a translation table to be used in translations

partition()	Returns a tuple where the string is parted into three parts

replace()	Returns a string where a specified value is replaced with a 
specified value

rfind()	Searches the string for a specified value and returns the last position of where it was found

rindex()	Searches the string for a specified value and returns the last position of where it was found

rjust()	Returns a right justified version of the string

rpartition()	Returns a tuple where the string is parted into three parts

rsplit()	Splits the string at the specified separator, and returns a list

rstrip()	Returns a right trim version of the string

split()	Splits the string at the specified separator, and returns a list

splitlines()	Splits the string at line breaks and returns a list

startswith()	Returns true if the string starts with the specified value

strip()	Returns a trimmed version of the string

swapcase()	Swaps cases, lower case becomes upper case and vice versa

title()	Converts the first character of each word to upper case

translate()	Returns a translated string

upper()	Converts a string into upper case

zfill()	Fills the string with a specified number of 0 values at the beginning

In [81]:
string='inderpreet'
string.capitalize()

'Inderpreet'

In [82]:
string.count('e') # gives the total count of the character in the string

3

In [83]:
string="Priyanka Ankul Nikhil Gaurav"
string.find('Ankul')

9

In [84]:
string.index('Ankul')

9

In [85]:
string="9953422421"
string.isdigit()

True

In [87]:
string='Rohit'
string.isalpha()

True

In [89]:
string='ROHIT'

string.isupper()

True

In [90]:
string="                                  upgrad"
string.lstrip()

'upgrad'

In [91]:
string="upgrad                                                                "
string.rstrip()

'upgrad'

In [92]:
string="Hello"
string.split('e')

['H', 'llo']

In [93]:
string="Hello everyone"
string.split(' ')

['Hello', 'everyone']

In [95]:
# Write a python program to take an input of your name and use a string inbuilt
# to capitalize the first character of your first name and first name of your last name

In [96]:
str1=input("Please enter your name ")
str1

Please enter your name inderpreet singh

'inderpreet singh'

In [113]:
str1.split(" ")[0].capitalize()

'Inderpreet'

In [104]:
str1.split(' ')[0].capitalize()+" "+ str1.split(' ')[1].capitalize()

'Inderpreet Singh'

In [107]:
"inderpreet" + "singh" +" is  our " + "today's mentor"

"inderpreetsingh is  our today's mentor"

In [114]:
str1.title()

'Inderpreet Singh'

In [115]:
string="Inder12233223"
string.isalnum()

True

In [116]:
string="Inderpreet"

string.replace("e",'?')

'Ind?rpr??t'