## Strings

Strings are used to record the text information such as names,textual data,. 
Strings acts as "Sequence " which means Python tracks every element in the string
Strings uses-----> ('') or ("")

In [3]:
"HELLO"

'HELLO'

In [4]:
'hello

SyntaxError: EOL while scanning string literal (Temp/ipykernel_17940/628875690.py, line 1)

In [7]:
Str1="Mohammed Saqlain"
Str1[9]
#The space also takes a index

'S'

## String Slicing

In [8]:
str2='Sandeep'
# S->0
# A->1
# n->2
# D->3
# e->4
# e->5
# p->6

str2[1:5]

'ande'

In [9]:
str2[-1]

'p'

In [11]:
str2[-4]

'd'

## Strings Properties

1. Strings are immutable (that means we can't change the strings once created")

In [12]:
Str1='inder'
Str1[1]='s'

TypeError: 'str' object does not support item assignment

## Basic Built in String methods

In python objects have build in methods or functionaties which means these methods can make your task easy

For converting a string into Capital Letters use

## Upper Function

String_name.upper()

In [14]:
Str1='Inder' #------->INDER
Str1.upper()

'INDER'

In [15]:
Str2='Sandeep'
Str2[::1]

'Sandeep'

In [16]:
Str2[::2]

'Snep'

In [17]:
Str3="Vaibhav Pampatwar"
Str3[::3]

'Vbvaaa'

## Split Function
Split helps in dividing the string based on the parameter
Split function by default works on spaces

In [18]:
Str_new='Amazon India'
Str_new.split()

['Amazon', 'India']

In [19]:
Str_new.split('z')

['Ama', 'on India']

## Primitive Data Structures
1. These are the fundamental type of Data structures that stores the data of 
one type

In [20]:
# Boolean

X=2
Y=5

X==Y #(== ARE USED TO CHECK THE CONDITION)

False

Boolean Data Structures answers in two values which is True or False

## Lists

List can be considered as the general version of a sequence. Unlike strings,
they are mutable(that means we can change the items present in the list)

1. List are constructed with [] and commas are used to seperate every element in the list

In [21]:
my_list=["Inder","Upgrad",3,1,1.5,'False']
my_list

['Inder', 'Upgrad', 3, 1, 1.5, 'False']

In [22]:
my_list[1]

'Upgrad'

## Indexing and Slicing

In [25]:
list1=['one','two','inder',4,5]
list1[1]

'two'

In [26]:
##We can use "+" to concatenate list just like we did it in strings

In [27]:
list1+ ['Zoeba','rishi']

['one', 'two', 'inder', 4, 5, 'Zoeba', 'rishi']

In [29]:
list_new=[1,2,3]
list_new[1]=1000
list_new

[1, 1000, 3]

In [30]:
list1+ ['Zoeba','rishi']+ ['sidak','sid']

['one', 'two', 'inder', 4, 5, 'Zoeba', 'rishi', 'sidak', 'sid']

In [31]:
list_2=[1,77,33,311]
list_2[1:3]

[77, 33]

We can use * for duplication method similiar to strings

In [32]:
list_2

[1, 77, 33, 311]

In [35]:
list_2*4

[1, 77, 33, 311, 1, 77, 33, 311, 1, 77, 33, 311, 1, 77, 33, 311]

In [37]:
list2=['inder','mahesh']
type(list2[0])

str

In [42]:
list2[0][1:3]

'nd'

## Append method is used to add an item to the end of the list 

Syntax for append: List_name.append(object)

In [45]:
list2=[1,2,3]
list2.append('shivam')
list2.append('inder')
list2

[1, 2, 3, 'shivam', 'inder']

## Pop --> is used to remove an item from the list.

## By default pop takes off the last index, but you can specify which index to pop

In [46]:
list2

[1, 2, 3, 'shivam', 'inder']

In [47]:
list2.pop()

'inder'

In [48]:
list2

[1, 2, 3, 'shivam']

In [49]:
list2.pop(1)

2

In [50]:
list2

[1, 3, 'shivam']

## Nested List

It is a very great feature in Python Data Structure and this means a list inside another list

In [51]:
List1=[1,2,3,['sidak','shivam'],'5']

In [57]:
List1[3][0][0]

's'

## Extend
Many times people find the difference between extend and append to be unclear

1. Append adds elements at end
2. Extend list by appending the elements from the iterable

In [60]:
x=[1,2,3]
x.append([4,5])
x.append('tyz')
x

[1, 2, 3, [4, 5], 'tyz']

In [66]:
x=[1,2,3]
x.extend('tyz')
x.extend(['tyz','yz'])
x

[1, 2, 3, 't', 'y', 'z', 'tyz', 'yz']

In [62]:
y=[1,2,3]
y.extend([1,3])
y

[1, 2, 3, 1, 3]

In [64]:
list1=[1,2,3,4,5]
list2=[12,54,45,88,99]
list1.extend(list2)
list2

[12, 54, 45, 88, 99]

## Insert

Two argument can be placed in insert

Syntax: insert(index,object)

In [67]:
list1=[1,2,3,4]
list1.insert(2,'inder')
list1

[1, 2, 'inder', 3, 4]

In [68]:
list1.insert(2,[1,2])
list1

[1, 2, [1, 2], 'inder', 3, 4]

## Remove --> This method removes the first occurrence of the value in a list

Syntax: list_name.remove(object)

In [69]:
list1=[1,2,3,'inder',1,2,3,'inder']
list1.remove('inder')
list1

[1, 2, 3, 1, 2, 3, 'inder']

## Reverse

As the name suggest, reverse() helps to reverse a list

Syntax: list_name.reverse()

In [81]:
str1='inder'
str1

'inder'

In [71]:
list1.reverse()

In [72]:
list1

['inder', 3, 2, 1, 3, 2, 1]

## Sort

It will sort your list either in ascending(low->high) or descending order (high->low)
1. By default sort functions sort alll the items in ascending order
2. To sort the items in list using Descending we have to pass a parameter reverse=True

In [82]:
list_marks=[33,45,11,22,98,67,45,68]
list_marks.sort()
list_marks

[11, 22, 33, 45, 45, 67, 68, 98]

In [74]:
list_marks=[33,45,11,22,98,67,45,68]
list_marks.sort(reverse=True)
list_marks

[98, 68, 67, 45, 45, 33, 22, 11]

## Sorted Function

Sorted function sorts the given sequence in ascending or descending order and returns the sort list. This method does not affect the order of the elements 
in the original list.

In [75]:
list_marks=[33,45,11,22,98,67,45,68]
list_marks.sort()
list_marks

[11, 22, 33, 45, 45, 67, 68, 98]

In [83]:
orig_list=[22,3,12,32,545454,12]
sorted(orig_list)

[3, 12, 12, 22, 32, 545454]

In [84]:
orig_list

[22, 3, 12, 32, 545454, 12]

In [76]:
list_marks=[33,45,11,22,98,67,45,68]
sorted(list_marks)

[11, 22, 33, 45, 45, 67, 68, 98]

In [77]:
list_marks

[33, 45, 11, 22, 98, 67, 45, 68]

In [78]:
list2_age=[22,23,24,25,27,18,99,120]
sorted(list2_age,reverse=True)

[120, 99, 27, 25, 24, 23, 22, 18]

 Split() ignores the whitespaces on the end of the input
 Strip() does not ignore the whitespace

In [86]:
string="Inder preet"
string.strip()

'Inder preet'

In [87]:
string="Inder preet"
string.split()

['Inder', 'preet']

## Tuples

Tuples are similiar to lists but they are immutable that means they can't be changed

Tuples are used to present data that we don't want to change. For example: Aadhaar no,debit card no, account no, admission no

Tuples are represented using-------> ()

In [88]:
tup_1=(61642343445454,121211212212,21221434334)
tup_1

(61642343445454, 121211212212, 21221434334)

In [90]:
tup_1[0]=54544554545454

TypeError: 'tuple' object does not support item assignment

In [91]:
list1=[61642343445454,121211212212,21221434334]
list1[0]=545445545445
list1

[545445545445, 121211212212, 21221434334]

In [92]:
# sort the tuple using sort function

tup1=(1,43,231,45,2332,65,34,54,234,567)
tup1.sort()
tup1

AttributeError: 'tuple' object has no attribute 'sort'

This error shows that tuples are immutable and they can't change their index

In [93]:
sorted(tup1)

[1, 34, 43, 45, 54, 65, 231, 234, 567, 2332]

In [ ]:
List2=[2,3,4,1,1]

In [94]:
list_string=['inder','mahesh','ravi','ashwin']
list_string.sort()
list_string

['ashwin', 'inder', 'mahesh', 'ravi']

In [97]:
list_mix=[1,2,3,'inder','mahesh','ashwin']
list_mix.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [99]:
list_mix=[1,2,3,'air',4,'max',5]
list_mix.sort()
list_mix

TypeError: '<' not supported between instances of 'str' and 'int'

In [100]:
list2=["1","2","3","air","2"]
1-34
2-43

air-->222
3-76

list2.sort()
list2

['1', '2', '2', '3', 'air']

In [104]:
ord('2') #ord is used to find ASCII value of any data type

50

# Sets

Sets are unordered collection of unique elements
Sets are denoted by curly braces---> {}

In [105]:
set1={1,2,3}
set1

{1, 2, 3}

In [106]:
set1.add(1)
set1

{1, 2, 3}

In [107]:
set1.add('inder')
set1

{1, 2, 3, 'inder'}

In [108]:
set1[0]

TypeError: 'set' object is not subscriptable

Why this error?

Ans. Because sets are unordered that means no fix index for any element in sets

videos
I want only unique videos
So for that we can use sets. Because set stores unique elements

In [109]:
tup1=(1,2,3,1,2,3)
tup1

(1, 2, 3, 1, 2, 3)