# Errors

Errors are the problems that halts the exectution of the program. On the other hand exception are raised when internal events changes the complete flow of the program


Two Types of Errors:
1. Syntax Errors---->When we are not using the rules of the programming language this error is thrown

2. Logical Errors----> When in the runtime of the program an error that will pass the syntax text is called as logical error or exception error.

In [3]:
Name="INDERPREET

Name2="Inderpreet"

#This is a example of Syntax Error

SyntaxError: EOL while scanning string literal (Temp/ipykernel_5684/2404413420.py, line 1)

In [4]:
Sum_Of_numbers=30+45+15

Sum_Of_numbers/0

ZeroDivisionError: division by zero

# Types_of_Errors

IndexError	When the wrong index of a list is retrieved.

AssertionError	It occurs when the assert statement fails

AttributeError	It occurs when an attribute assignment is failed.

ImportError	It occurs when an imported module is not found.

KeyError	It occurs when the key of the dictionary is not found.

NameError	It occurs when the variable is not defined.

MemoryError	It occurs when a program runs out of memory.

TypeError	It occurs when a function and operation are applied in an incorrect type

In [5]:
lst=[1,2,3]
lst[5]

IndexError: list index out of range

In [6]:
str1='Inderpreet'
str1[0]='a'

TypeError: 'str' object does not support item assignment

In [7]:
a=5

a.append(7)

AttributeError: 'int' object has no attribute 'append'

In [8]:
dict1={"inder":[10]}
dict1['rahul']

KeyError: 'rahul'

In [14]:

print(name2)

name2='Inderpreet'

NameError: name 'name2' is not defined

In [18]:
import pandas

In [17]:
import request

ModuleNotFoundError: No module named 'request'

# Error Handling

When an error and an exceptions occurs we handle them with the help of these handling methods

Handling Exceptions with Try/Except/Finally

In [20]:
5/0

ZeroDivisionError: division by zero

In [21]:
try:
    print(5/0)
except:
    print("There was an error")

There was an error

In [22]:
print(name2)

name2='Inderpreet'

NameError: name 'name2' is not defined

In [27]:
5/0

ZeroDivisionError: division by zero

In [24]:
try:
    print(name2)
    name2='Inderpreet'
except NameError:
    print("There was an error with the string")

There was an error with the string

In [26]:
try:
    name2='Inderpreet'
except NameError:
    print("There was an error with the string")
finally:
    print("My name is Inderpreet")

My name is Inderpreet

In [28]:
try:
    5/0
except:
    print("Error")
finally:
    print(5/2)

Error
2.5

In [32]:
int(input("Enter a Number "))

Enter a Number 10

10

In [38]:
try:
    val=int(input("Please Enter an integer  "))
except:
    print("Loooks like you did not enter an integer")
    try:
        val=int(input("Please Enter an integer again"))
    except:
        print("Handle it")
finally:
    print("Finally It is executed")

Please Enter an integer  10
Finally It is executed

In [10]:
#. If instead of a and b integers we input a character what would be the order of execution


try:
    x=int(input("Please Enter an integer for A "))
    y=int(input("Please Enter an integer for B "))
except:
    print("Please input the valid integers")
    try:
        x=int(input("Please Enter an integer for A second time "))
        y=int(input("Please Enter an integer for B second time "))
    except:
        print("Handle it")
    finally:
        c=x-y
        print(c)
        print(" I am executed first time")
finally:
    print("Now I am executed ")

Please Enter an integer for A  a
Please input the valid integers
Please Enter an integer for A second time  5
Please Enter an integer for B second time 10
-5
 I am executed first time
Now I am executed

# Functions

Functions are the most important building block of code that helps us to construct large amount of code to solve problems.

What is a Function?

A Function is a group of statements together to run the program more than once.

Function allow us to reuse the program.

# Syntax of a Function

def name_of_function(arg1,arg2):
    ----Block of code
   
    return anything"

In [16]:
def sum_of_two_numbers(num1,num2):
    
    print("The sum of these numbers are---->",num1+num2)
    return "Sum of two numbers is complete"

In [19]:
sum_of_two_numbers(5,10)+" and adding a string"

The sum of these numbers are----> 15

'Sum of two numbers is complete and adding a string'

In [57]:
def calculator(num1,num2,operator):
    if operator=='+':
        Results=num1+num2
        print("The sum of the two numbers are----->",Results) 
        return Results
    elif operator=='-':
        Results=num1-num2
        print("The difference of the two numbers are----->",Results) 
        return Results
    elif operator=='*':
        Results=num1*num2
        print("The multiplication of the two numbers are----->",Results)     
        return Results
    elif operator=='/':
        try:
            Results=(num1/num2)
            print("The division of the two numbers are----->",Results) 
            return Results
        except:
            print("You cannot divide a number by Zero")
        finally:
            print("I am executed")

In [58]:
calculator(3,5,'+')+calculator(10,4,'*')+calculator(3,5,'/')+calculator(30,5,'-')

The sum of the two numbers are-----> 8
The multiplication of the two numbers are-----> 40
The division of the two numbers are-----> 0.6
I am executed
The difference of the two numbers are-----> 25

73.6

In [46]:
result=calculator(3,5,'+')
result

The sum of the two numbers are-----> 8

8

In [50]:
def sum_of_two_numbers(num1,num2):
    
    print("The sum of these numbers are---->",num1+num2)
    return num1+num2

In [51]:
sum_of_two_numbers(4,3)+10

The sum of these numbers are----> 7

17

Q1. Write a Python Function that returns the cube of the number


Example: 
    
    1->1
    2->8
    3->27
    4->64

In [62]:
a=2
2*2*2

8

In [64]:
2**3

8

In [65]:
def cube_of_number(number):
    print("The cube of the number is---->",number**3)
    return number**3

In [70]:
cube_of_number(40)

The cube of the number is----> 64000

64000

In [76]:
#Q2. Create a Function to Convert  Celsius into Fahrenheit


def Convert_celsius_to_fahr(Temp):
    return str ((9/5 * Temp) + 32)+'°F'

In [78]:
Convert_celsius_to_fahr(29)

'84.2°F'

In [83]:
#Q3. Create a Function to Convert Fahrenheit into Celsius


def Convert_fahr_to_celsius(Temp_in_Fahren):
    return str((5/9 *(Temp_in_Fahren-32))) +'°C'

In [84]:
Convert_fahr_to_celsius(84.2)

'29.000000000000004°C'

In [86]:
input("Please enter the value")

Please enter the value5

'5'

In [88]:
def full_name(First_name,Last_name):
    Full_name=First_name+" "+Last_name
    return Full_name

In [90]:
full_name("Inderpreet","Singh")

'Inderpreet Singh'

In [93]:
#Questions

#Q1. Create a function for checking whether the number is even or odd

def even_odd(num):
    if num%2==0:
        print("{} number is even".format(num))
    else:
        print("{} number is odd".format(num))

In [94]:
even_odd(5)

5 number is odd

In [105]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [108]:
import math

#Q2. Create a function to check whether the number is prime or not.

def is_prime(num):
    
    if num %2==0 and num>2:
        return False
    
    for i in range(3,num,2):
        print("The number ",i)
        if num % i==0:
            return False
        
    return True

In [109]:
is_prime(7)

The number  3
The number  5

True

# Map Function

This function returns a map object of the results after applying the function to each item of the iterable(list,tuple)

Syntax:
map(function_name,iterable)

Iterable are like lists,tuples,set,etc.

In [2]:
def addition(num):
    return num+num


list1=[1,2,3,4]

answer=map(addition,list1)
list(answer)

[2, 4, 6, 8]

In [3]:

def Convert_celsius_to_fahr(Temp):
    return str ((9/5 * Temp) + 32)+'°F'



temperature=[33,44,37,41,32,21]
list(map(Convert_celsius_to_fahr,temperature))

['91.4°F',
 '111.2°F',
 '98.60000000000001°F',
 '105.8°F',
 '89.6°F',
 '69.80000000000001°F']

In [4]:
# Q1. Use the map function to return the existing list after squaring each element
# from the list


# list1=[1,3,4,5,6]

# Answer---->[1,9,16,25,36]

def square_no(num):
    return num**2

list1=[1,3,4,5,6]

list(map(square_no,list1))

[1, 9, 16, 25, 36]

In [ ]:
# # Use the map function to create a list of alphabets from each color
# COLORS=['Blue','Orange','Red','Purple']

# Answer=[['B','l','u','e'],['O','r','a','n','g','e'],['R','e','d'],
#         ['P','u','r','p','l','e']]

In [5]:
list('Blue')

['B', 'l', 'u', 'e']

In [8]:
COLORS=['Blue','Orange','Red','Purple']


individual_strings=list(map(list,COLORS))
individual_strings

[['B', 'l', 'u', 'e'],
 ['O', 'r', 'a', 'n', 'g', 'e'],
 ['R', 'e', 'd'],
 ['P', 'u', 'r', 'p', 'l', 'e']]

# For Loops

A for loop is used for iterating over a iterable that is a list,tuple,dictionary,set or a string

In [9]:
for i in range(1,11):
    print("The number is-------",i)

The number is------- 1
The number is------- 2
The number is------- 3
The number is------- 4
The number is------- 5
The number is------- 6
The number is------- 7
The number is------- 8
The number is------- 9
The number is------- 10

In [10]:
lst=[1,11,22,32,43]

for i in range(len(lst)):
    print("the element in lst at index {}----".format(i),"----",lst[i])

the element in lst at index 0---- ---- 1
the element in lst at index 1---- ---- 11
the element in lst at index 2---- ---- 22
the element in lst at index 3---- ---- 32
the element in lst at index 4---- ---- 43

In [20]:
#Q1. Store the vowels from the string name in a list.

list_vowels=[]
string_name='Inderpreet Rahul Rohit'
string_name=string_name.lower()

for i in range(len(string_name)):
    print("the character in string---",string_name[i])
    if string_name[i] in 'aeiou':
        list_vowels.append(string_name[i])

list(set(list_vowels))

the character in string--- i
the character in string--- n
the character in string--- d
the character in string--- e
the character in string--- r
the character in string--- p
the character in string--- r
the character in string--- e
the character in string--- e
the character in string--- t
the character in string---
the character in string--- r
the character in string--- a
the character in string--- h
the character in string--- u
the character in string--- l
the character in string---
the character in string--- r
the character in string--- o
the character in string--- h
the character in string--- i
the character in string--- t

['u', 'i', 'a', 'e', 'o']

# Continue Statement

It is used to skip the code inside a loop for a specific iteration.

# Break Statement

The break statement will terminate the loop once the break statement is executed

# Pass Statement

The pass statement is a null statement that is ignored by the interpreter. Pass statements can help the user to avoid the error

In [26]:
lst=[1,11,15,'Inderpreet']


for i in lst:
    if (i==11) or (i=='Inderpreet'):
        continue
    print("element in lst ",i)

element in lst  1
element in lst  15

In [28]:
lst=[1,11,15,'Inderpreet']


for i in lst:
    if (i==15) or (i=='Inderpreet'):
        break
    print("element in lst ",i)

element in lst  1
element in lst  11

In [30]:
def function1():
    pass

In [32]:
for i in range(10):
    pass

In [33]:
try:
    5/0
except:
    pass

# While Loop

While loop is used to execute the block of code until the condition turns false. Once the condition is false the execution of the code will stop

Syntax:
    
    
while expression:
    block of code

In [37]:
cnt=0

while(cnt<11):
    print("the number is-------- ",cnt)
    cnt=cnt+1

the number is--------  0
the number is--------  1
the number is--------  2
the number is--------  3
the number is--------  4
the number is--------  5
the number is--------  6
the number is--------  7
the number is--------  8
the number is--------  9
the number is--------  10

In [38]:
string='Inderpreet'

cnt=0
while(cnt<len(string)):
    print("the character in string",string[cnt])
    cnt=cnt+1

the character in string I
the character in string n
the character in string d
the character in string e
the character in string r
the character in string p
the character in string r
the character in string e
the character in string e
the character in string t

In [1]:
#Q3. With the help of map function find the sum of a list.

lst=[11,22,33,12,34,21]

In [2]:
def sum_no(lst):
    print(lst)
    print(type(lst))
    total_sum=0
    for i in lst:
        total_sum+=i
    return total_sum

lst=[11,22,33,12,34,21]

# list(map(sum_no,lst))


# list(map(int,lst))
sum_no(lst)

[11, 22, 33, 12, 34, 21]
<class 'list'>

133

# Lambda Function

Lambda functions are anonymous that means these are the functions without name. We dont need to use the def keyword

In [4]:
def cube(num):
    return num**3
    
cube(3)

27

In [6]:
lambda_cube=lambda num:num**3
lambda_cube(3)

27

In [7]:
def greater_no(num1,num2):
    if(num1>num2):
        return num1
    else:
        return num2

In [10]:
greater_no(15,3)

15

In [13]:
greater_no2=lambda num1,num2: num1 if(num1>num2) else num2
greater_no2(15,33)

nan

In [36]:
def sort_marks(Marks):
    Final_Marks=[]
    marks_lst=[]
    minimum_marks=100000000000000000
    for i in Marks:
        marks_lst.append(i[1])
    marks_lst.sort()
    print(marks_lst)
    for i in range(len(marks_lst)):
        print(i)
        if Marks[i][1]==marks_lst(i):
            Final_Marks.append(Marks[i])
    print(Final_Marks)    
        
#         if Marks<minimum_marks:
#             Final_Marks.append(i)

In [37]:
sort_marks(Marks)

[67, 88, 95]
0

TypeError: 'list' object is not callable

In [29]:
Marks=[('Physics',88),('Chemistry',67),('Python',95)]
Marks.sort(key= lambda ele:ele[1])
Marks

[('Chemistry', 67), ('Physics', 88), ('Python', 95)]

In [ ]:
#Q. Write a program to sort the list of tuples using lambda




Marks=[('Physics',88),('Chemistry',67),('Python',95)]

In [55]:
def even_no(num):
    if num%2==0:
        print('even in print')
        return 'even'
    else:
        print('odd in print')
        return 'odd'

In [56]:
x1=even_no(10)
x1

even in print

'even'

In [57]:
x1

'even'

In [60]:
def even_no(num):
    if num%2==0:
        print('even in print')
        return True
    else:
        print('odd in print')
        return False

In [61]:
lst=[1,2,54,23,21,456,87,32,21,54867,32]

list(filter(even_no,lst))

odd in print
even in print
even in print
odd in print
odd in print
even in print
odd in print
even in print
odd in print
odd in print
even in print

[2, 54, 456, 32, 32]

# Filter Function Python

The filter method will filter out the given sequence with the help of the function

In [39]:
lst=[1,2,54,23,21,456,87,32,21,54867,32]



is_even=lambda num:num%2==0

In [41]:
list(filter(is_even,lst))

[2, 54, 456, 32, 32]

In [59]:
#Q1. Given a list of string return all the strings that have three consecutive
#character 's' in it

list1=['asdsssa','bsdsdssss','asdfsafdsa','gffgtrsd','assssasas']

def check_consecutive_S(string):
    print("sss" in string)
    return "sss" in string

list(filter(check_consecutive_S,list1))

True
True
False
False
True

['asdsssa', 'bsdsdssss', 'assssasas']

In [68]:
name='inderrrr'

'rrr' in name

True

# Reduce Function

1. This function is used to apply a particular function passed in the argument to all the elements of the list.
2. This function is present in functools module

import functools

3. At first it will choose the two elements of the sequence and then the next step is applied to the result that is obtained.

4. This process continues till no more elements are left

In [62]:
import functools

lst=[1,5,67,43,21]

functools.reduce(lambda num1,num2:num1+num2,lst)

137

In [63]:
lst=[1,3,5,10]

functools.reduce(lambda num1,num2:num1*num2,lst)

150

In [67]:

def my_addition(num1,num2):
    return num1+num2

lst=[0,2,4,5,65,21]

functools.reduce(my_addition,lst,100)

197