In [1]:
#ord() --> return the unicode code from the given character

In [2]:
ord('A')

65

In [3]:
ord('a')

97

In [4]:
ord('0')

48

In [5]:
num=12222222222222222222222222222222222222222222222222222222222222222222222222222222222222
num

12222222222222222222222222222222222222222222222222222222222222222222222222222222222222

# List

1.In Python, Lists can be considered as the general version of sequence. Lists can contain one or more than one primitive data structure.
2. List is represented with square brackets-------->[].
3. List is mutable(changeable)

In [6]:
my_list=[1,2,3,4,'inder']
my_list

[1, 2, 3, 4, 'inder']

In [8]:
my_list[0]='rahul'
my_list

['rahul', 2, 3, 4, 'inder']

In [11]:
my_list[4]=3.33
my_list

['rahul', 2, 3, 4, 3.33]

In [13]:
my_list[0]=True
my_list

[True, 2, 3, 4, 3.33]

In [17]:
my_list[1]='Upgrad'
my_list

[True, 'Upgrad', 3, 4, 3.33]

In [19]:
my_list[1]='Unacademy'
my_list

[True, 'Unacademy', 3, 4, 3.33]

In [26]:
my_list[1][2]='b'

TypeError: 'str' object does not support item assignment

In [27]:
len('Unacademy')

9

In [28]:
list2=[1,2,3,4,5]
len(list2)

5

In [29]:
list3=[1,1.111111,'Aman',True,False]
list3

[1, 1.111111, 'Aman', True, False]

len() function will tell you how many elements or items are present in the list

In [31]:
len(list3)

5

In [32]:
string1='Inder'
string1

'Inder'

In [33]:
string1='Rahul'
string1

'Rahul'

# Indexing in List

list_students=['Pranav','Vyshakh','Arkaprava','Deepansh','Krishna']


Q1. There are 5 students sitting in different find the student sitting in the middle row?

In [37]:
list_students=['Pranav','Vyshakh','Arkaprava','Deepansh','Krishna']
list_students[int(len(list_students)/2)]

'Arkaprava'

In [40]:
int(len(list_students)/2)

2

In [41]:
a=1.1221212121
int(a)

1

In [52]:
num='10.5' #this is a string

float(num) #this is a integer

10.5

# Typecasting--> It means converting a Primitive Data type into another category of Primitive Data Structure.

In [46]:
lst=[1,2,3,4]
lst

[1, 2, 3, 4]

In [48]:
list_students[-2]

'Deepansh'

In [49]:
string='inder'
string[:2]

'in'

In [50]:
list_students

['Pranav', 'Vyshakh', 'Arkaprava', 'Deepansh', 'Krishna']

In [51]:
list_students[0:2]

['Pranav', 'Vyshakh']

In [55]:
string='Hasan Ali Sayyed'

string[0:10:2]

'HsnAi'

In [57]:
list_students[0:5:2]

['Pranav', 'Arkaprava', 'Krishna']

In [61]:
list_students[0:2]

['Pranav', 'Vyshakh']

In [62]:
list_students[:]

['Pranav', 'Vyshakh', 'Arkaprava', 'Deepansh', 'Krishna']

In [63]:
list_students[0:5:2]

['Pranav', 'Arkaprava', 'Krishna']

In [64]:
list_students[::2]

['Pranav', 'Arkaprava', 'Krishna']

# List Inbuilt functions

In [69]:
lst=[1,2,3,4,5]
lst

[1, 2, 3, 4, 5]

Append function in list will add elements at the end of the list

In [70]:
lst.append('inder')
lst

[1, 2, 3, 4, 5, 'inder']

In [71]:
lst.append(5)
lst

[1, 2, 3, 4, 5, 'inder', 5]

# count()----> it takes an element and returns the number of times it occurs in the list

In [73]:
list1=[1,2,3,4,5,6,1,2]

list1.count(3)

1

# Extend Function in list

In [76]:
lst=[1,2,3,'inder']
lst.append([4,5])
lst

[1, 2, 3, 'inder', [4, 5]]

In [77]:
lst.append('rahul')
lst

[1, 2, 3, 'inder', [4, 5], 'rahul']

extends--> extend list by appending element from iterable

iterables are string,list,tuple,dictionary

In [78]:
lst.extend('rahul')
lst

[1, 2, 3, 'inder', [4, 5], 'rahul', 'r', 'a', 'h', 'u', 'l']

In [79]:
lst.extend([4.15,6.17])
lst

[1, 2, 3, 'inder', [4, 5], 'rahul', 'r', 'a', 'h', 'u', 'l', 4.15, 6.17]

In [81]:
lst.extend([2.13333333])
lst

[1,
 2,
 3,
 'inder',
 [4, 5],
 'rahul',
 'r',
 'a',
 'h',
 'u',
 'l',
 4.15,
 6.17,
 2.13333333]

In [84]:
lst.extend(3.12)
lst

TypeError: 'float' object is not iterable

# index
Index function returns the element placed in the list

In [83]:
lst=[1,2,3,4,5,'inder']
lst.index('inder')

5

# insert

Two arguments are placed in insert method

Syntax: insert(index,object)

In [85]:
lst=[77,65,98,54,32]
lst.insert(2,'inder')
lst

[77, 65, 'inder', 98, 54, 32]

In [86]:
lst.insert(0,'arkraprava')
lst

['arkraprava', 77, 65, 'inder', 98, 54, 32]

# pop

Pop function allows to remove the last element of the list by default

In [87]:
lst=[1,2,3,4,5]
lst.pop()

5

In [88]:
lst

[1, 2, 3, 4]

In [89]:
lst.pop(1)

2

In [90]:
lst

[1, 3, 4]

# remove()---> it will remove the first occurence of a value

In [91]:
lst=[1,1,2]
lst.remove(1)

In [92]:
lst

[1, 2]

In [93]:
lst2=[1,2,3,1,5,2]
lst2.remove(2)

In [104]:
lst2=[1,2,3,1,5,2]

In [102]:
lst2

[1, 2, 3, 1, 5, 2]

In [103]:
lst2.pop(1) #pop remove element from list by index

2

In [105]:
lst2.remove(2) #remove helps in taking of the element with the value of the element

In [106]:
lst2

[1, 3, 1, 5, 2]

In [113]:
lst2=[1,1,1,1,1,1,1,1]
lst2.remove(1)

In [128]:
lst2.remove(1)

ValueError: list.remove(x): x not in list

In [127]:
lst2

[]

# Sort

In [144]:
lst2=[11,43,21,544,2111111,543,1,-1]
lst2.sort()   #sort function by default sort values on ascending order

In [145]:
lst2

[-1, 1, 11, 21, 43, 543, 544, 2111111]

In [140]:
lst2=[11,43,21,544,2111111,543,1,-1]
lst2.sort(reverse=True)   #sort function by default sort values on descending order

In [141]:
lst2

[2111111, 544, 543, 43, 21, 11, 1, -1]

In [142]:
lst3=['inder',1,2,3]
lst3.reverse()

In [143]:
lst3

[3, 2, 1, 'inder']

# Sorted Function

In [146]:
lst=[34,21,432,125412,21]
lst.sort()
lst

[21, 21, 34, 432, 125412]

In [149]:
lst=[34,21,432,125412,21]
new_lst=sorted(lst)    #store the sorted list in a new list to see the change

In [150]:
new_lst

[21, 21, 34, 432, 125412]

In [148]:
lst

[34, 21, 432, 125412, 21]

# Sort and Sorted Difference

1. Sort changes the list permanently whereas sorted function does not change the original list.

In [151]:
lst=[34,21,432,125412,21]
sorted(lst,reverse=True)    #store the sorted list in a new list to see the change

[125412, 432, 34, 21, 21]

# Tuples

Tuples are similiar to lists but they are immutable that means they are unchangeable. You would use the tuple to represent the data that you don't want to change.


For example: We dont want someone to change our Aadhaar Card details or Passport Number or Credit Card or Debit Card.So in those scenarios we can use Tuples

Tuples are represented by----->()

In [152]:
tup=(1,2,3,1.1)
tup

(1, 2, 3, 1.1)

In [154]:
type(tup) #this function tells us about the data structure

tuple

In [155]:
tup2=('inder','rahul',True,False)
tup2

('inder', 'rahul', True, False)

In [165]:
tup_aadhaar=(61641231213,212132543254,214376983221)
tup_aadhaar[2]

214376983221

In [157]:
tup_aadhaar=(61641231213,212132543254,214376983221)
tup_aadhaar[0]=12346532121

TypeError: 'tuple' object does not support item assignment

This error shows that tuples elements are unchangeable

In [159]:
tup_aadhaar[-1]

214376983221

In [160]:
tup_index=(1,23,54,12,54,2154,12)
tup_index[0:8:2]

(1, 54, 54, 12)

In [162]:
tup_index.index(2154)

5

In [163]:
tup_3=(1,2,3,4,1,1,1,1,1)
tup_3.count(1)

6

In [166]:
tup_3.append('inder')

AttributeError: 'tuple' object has no attribute 'append'

In [167]:
tup=(1,34,12,54,21,54,212)
tup.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [170]:
tup=(1,34,12,54,21,54,212)
tup_new=sorted(tup)
tup_new

[1, 12, 21, 34, 54, 54, 212]

In [171]:
type(tup_new)

list

In [172]:
tup_type_cast=(1,2,3,4,5,6,'inder')
list(tup_type_cast)

[1, 2, 3, 4, 5, 6, 'inder']

In [173]:
tup_type_cast

(1, 2, 3, 4, 5, 6, 'inder')

In [174]:
tup_2=('rahul','raj')

tup_type_cast+tup_2 #concatenation of tuples

(1, 2, 3, 4, 5, 6, 'inder', 'rahul', 'raj')

In [175]:
tup_non=('inder','rahul',[1,2,3,4],(1,2,3))
tup_non

('inder', 'rahul', [1, 2, 3, 4], (1, 2, 3))

In [176]:
(1,2,3,4

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_25648/170264200.py, line 1)

# Dictionaries

1. Dictionaries are mutable
2. Dictionaries exist in key and value
3. Dictionaries are represented by curly braces----> {}

In [177]:
#Example

Dictionary={"A":"Aman","B":"Bablu","C":"Chaman"}
Dictionary

{'A': 'Aman', 'B': 'Bablu', 'C': 'Chaman'}

In [178]:
type(Dictionary)

dict

In [180]:
dict2={"NUMBERS":1,"NAME":"RAHUL",True:1.1}
dict2

{'NUMBERS': 1, 'NAME': 'RAHUL', True: 1.1}

In [182]:
dict2['NAME']

'RAHUL'

In [183]:
dict2[True]

1.1

In [184]:
lst=[1,2,3,[3,4]]
lst

[1, 2, 3, [3, 4]]

In [188]:
class_students={"Names":['Inder',"Garima","Deepansh"],"Marks":[66,89,93]}
class_students

{'Names': ['Inder', 'Garima', 'Deepansh'], 'Marks': [66, 89, 93]}

In [193]:
class_students['Marks']

[66, 89, 93]

In [194]:
class_students['Names'][2][4]

'a'

In [196]:
class_students={"Names":['Inder',"Garima","Deepansh"],"Marks":[66,89,93],"Aadhaar_no":(2112,4343,2121)}
class_students

{'Names': ['Inder', 'Garima', 'Deepansh'],
 'Marks': [66, 89, 93],
 'Aadhaar_no': (2112, 4343, 2121)}

In [197]:
class_students['Aadhaar_no'][1]

4343

In [198]:
dict2={'name':'inder',"roll_no":13}
dict2

{'name': 'inder', 'roll_no': 13}

In [199]:
dict2['phone_no']=9971727272
dict2

{'name': 'inder', 'roll_no': 13, 'phone_no': 9971727272}

In [202]:
dict2['name']='rahul' #this means dictionaries are mutable
dict2

{'name': 'rahul', 'roll_no': 13, 'phone_no': 9971727272}

In [214]:
amazon={"Mobile":{"Iphone":["Iphone 13","Iphone 13 pro"],"Samsung":['S21 Ultra','Note 11'],"Oneplus":['Oneplus11'],"Google":['PIXEL 7']},"Electronics":['Sony bravia','LG hd 30'],"Books":['Zero_to_one']}

In [219]:
amazon['Mobile']['Iphone'] #this represents a dictionary inside another dictionariy and then a list

['Iphone 13', 'Iphone 13 pro']

In [221]:
dict1={'Name':'Inder'}
dict1['Name']='Garima'
dict1

{'Name': 'Garima'}

In [222]:
dict1['Name2']='Ajinkya'
dict1

{'Name': 'Garima', 'Name2': 'Ajinkya'}

# Sets

1. Sets are unordered collection of unique elements that means sets will only contain distinct values and there is no indexing possible

2. Sets are represented by curly braces----->{}

In [223]:
set2={1,2,1,2,1,2}
set2

{1, 2}

In [224]:
set2={'inder','inder','inder','rahul','raj',1,2,1}
set2

{1, 2, 'inder', 'rahul', 'raj'}

In [225]:
set2.add('Upgrad')
set2

{1, 2, 'Upgrad', 'inder', 'rahul', 'raj'}

In [226]:
set2[0] #this means sets are unordered no indexing possible

TypeError: 'set' object is not subscriptable

In [227]:
lst=[1,2,3,4,43,21,1,2,1,3,12,12,34,12,43,2154,12,54,21,54]
set(lst)

{1, 2, 3, 4, 12, 21, 34, 43, 54, 2154}

In [229]:
set2={1, 2, 3, 4, 12, 21, 34, 43, 54, 2154}
set2[5]

TypeError: 'set' object is not subscriptable

In [234]:
set3={'inder','rahul','aman','sakshi',1,2,0}
set3

{0, 1, 2, 'aman', 'inder', 'rahul', 'sakshi'}

In [237]:
lst=list(set3)
lst[5]

'inder'