In [11]:
set2={"inder",1,2,3,4}
set2.add('rahul')
lst=list(set2)
lst

[1, 2, 3, 4, 'rahul', 'inder']

In [15]:
dict1={"Mobiles":['Iphone','Samsung']}
dict1

{'Mobiles': ['Iphone', 'Samsung']}

In [16]:
dict1['Mobiles'].append('Oneplus')
dict1

{'Mobiles': ['Iphone', 'Samsung', 'Oneplus']}

In [17]:
dict1['Mobiles'].pop()

'Oneplus'

In [18]:
dict1

{'Mobiles': ['Iphone', 'Samsung']}

In [6]:
dict1['Books']=['Zero_to_One']
dict1

{'Mobiles': ['Iphone', 'Samsung'], 'Books': ['Zero_to_One']}

In [7]:
dict1[True]="inder"
dict1

{'Mobiles': ['Iphone', 'Samsung'], 'Books': ['Zero_to_One'], True: 'inder'}

In [8]:
dict1[3]='Rahul'
dict1

{'Mobiles': ['Iphone', 'Samsung'],
 'Books': ['Zero_to_One'],
 True: 'inder',
 3: 'Rahul'}

In [22]:
#Q1. Sort the Marks of these 3 students in descending order

students={"Name":['Inder','Rahul','Arkaprava'],'Marks':[66,87,98]}

students['Marks'].sort(reverse=True)
students

{'Name': ['Inder', 'Rahul', 'Arkaprava'], 'Marks': [98, 87, 66]}

In [30]:
#Q2.  Add 3 existing students  aadhar no to existing dictionary

students={"Name":['Inder','Rahul','Arkaprava'],'Marks':[66,87,98],
         'Aadhaar No':()}
# students['Aadhaar No']=(2121,2143,5465)
students['Aadhaar No']=tuple([3121,3221,2121])
students

{'Name': ['Inder', 'Rahul', 'Arkaprava'],
 'Marks': [66, 87, 98],
 'Aadhaar No': (3121, 3221, 2121)}

In [36]:
#Q3. 

students={"Name":['Inder','Rahul','Arkaprava'],'Marks':[66,87,98]}
students_name=['Garima','Rajesh','Rohan']
students_marks=[75,96,89]
students

{'Name': ['Inder', 'Rahul', 'Arkaprava'], 'Marks': [66, 87, 98]}

In [38]:
students['Name'].extend(students_name)
students['Marks'].extend(students_marks)
students

{'Name': ['Inder',
  'Rahul',
  'Arkaprava',
  'Garima',
  'Rajesh',
  'Rohan',
  'Garima',
  'Rajesh',
  'Rohan'],
 'Marks': [66, 87, 98, 75, 96, 89]}

In [53]:
#Q1. Find the name of the student who has scored the highest marks in the class
max(students['Marks'])
index=students['Marks'].index(98)
print("The students who has scored the highest marks is--->",students['Name'][index]
)

The students who has scored the highest marks is---> Arkaprava

In [55]:
print('Hello Everyone today we have a ',students['Marks'])

Hello Everyone today we have a  [66, 87, 98, 75, 96, 89]

In [58]:
my_list=['inder',1,2,3]
my_list*3

['inder', 1, 2, 3, 'inder', 1, 2, 3, 'inder', 1, 2, 3]

In [59]:
string='Inderpreet'
string*3

'InderpreetInderpreetInderpreet'

In [64]:
lst=[(),('rahul',8,'IIT'),('rohan',10,'NIT'),()]
lst

[(), ('rahul', 8, 'IIT'), ('rohan', 10, 'NIT'), ()]

In [65]:
del lst[0]
lst

[('rahul', 8, 'IIT'), ('rohan', 10, 'NIT'), ()]

In [66]:
lst.pop()

()

In [67]:
lst

[('rahul', 8, 'IIT'), ('rohan', 10, 'NIT')]

In [81]:
dict2={"Name":{"Rohan":{"Roll_no":18,"Blood_grp":'O','Admission_no':14313},'Krishna':
              {"Roll_no":20,"Blood_grp":'A','Admission_no':1431}},'Classes':[7,9]}
dict2['Name']['Rohan']['Marks']=[66,77,43,65,32,54]
dict2['Name']['Krishna']['Marks']=[76,43,21,43,12]
dict2

{'Name': {'Rohan': {'Roll_no': 18,
   'Blood_grp': 'O',
   'Admission_no': 14313,
   'Marks': [66, 77, 43, 65, 32, 54]},
  'Krishna': {'Roll_no': 20,
   'Blood_grp': 'A',
   'Admission_no': 1431,
   'Marks': [76, 43, 21, 43, 12]}},
 'Classes': [7, 9]}

In [76]:
# Q1. Subtract the difference between the admission no of these two students in the dict2

Admission_no_of_Rohan=dict2['Name']['Rohan']['Admission_no']
Admission_no_of_Krishna=dict2['Name']['Krishna']['Admission_no']
Diff_of_admission_no=Admission_no_of_Rohan-Admission_no_of_Krishna
Diff_of_admission_no

12882

In [80]:
dict2['Name']['Rohan']['Marks']=[66,77,43,65,32,54]
dict2['Name']['Krishna']['Marks']=[76,43,21,43,12]
dict2

{'Name': {'Rohan': {'Roll_no': 18,
   'Blood_grp': 'O',
   'Admission_no': 14313,
   'Marks': [66, 77, 43, 65, 32, 54]},
  'Krishna': {'Roll_no': 20,
   'Blood_grp': 'A',
   'Admission_no': 1431,
   'Marks': [76, 43, 21, 43, 12]}},
 'Classes': [7, 9]}

In [102]:
#Q2. Find the difference of the average marks of Rohan and Krishna.

# dict2['Name']['Rohan']['Marks']
# len(dict2['Name']['Rohan']['Marks'])

Average_marks_rohan=sum(dict2['Name']['Rohan']['Marks'])/len(dict2['Name']['Rohan']['Marks'])
Average_marks_rohan

Average_marks_krishna=sum(dict2['Name']['Krishna']['Marks'])/len(dict2['Name']['Krishna']['Marks'])
Average_marks_krishna


Diff_of_average_marks=round(Average_marks_rohan)-round(Average_marks_krishna)
print("The diff of marks between rohan and krishna is--->",Diff_of_average_marks)

The diff of marks between rohan and krishna is---> 17

In [82]:
lst=[1,2,3]

sum(lst)

6

# Round Off Function

It will point number from decimal value to the closest number

Syntax: round(number,number_of_digits)

In [96]:
num=16.6

# int(num)
round(16.668,2)

16.67

In [98]:
round(16.668,3)

16.668

In [99]:
round(33.1112,2)

33.11

In [100]:
round(66.67,1)

66.7

In [101]:
round(56.4327,3)

56.433

#  Few Dictionary Methods

In [108]:
dict1={"Name":'Inder',"Roll_no":15}
dict1

{'Name': 'Inder', 'Roll_no': 15}

In [110]:
dict1.keys()

dict_keys(['Name', 'Roll_no'])

In [120]:
lst=dict1.items() #it gives us the key and value pair in a form of a tuple
lst=list(lst)
lst[0][0]

'Name'

In [121]:
dict1.values()

dict_values(['Inder', 15])

In [185]:
Amazon={"Mobiles":{"IOS":{"Iphone 11":{"Battery":"3000mAh","Camera":"8MP","Price":"Rs.50000","Discount":"20% OFF"},
                          "Iphone 13":{"Camera":"12MP","RAM":"6GB","Price":"Rs.70000","Discount":"25% OFF"}},
                   'Android':{"Samsung 21 Ultra":{"Battery":"5000mAh","Camera":"80MP"}}},
        "Books":{"Genres":{"Self_Help":"Pshychology_of_Money",
                           "Literature_fiction":"Harry_Potter"}},
        "Clothing":{"Kids":{"Shorts":"Lily Puts"},"Adults":{"Men":'Nike',"Women":'Zara'}},
        "Computers":{"Windows":'Dell G15',"Mac":"Macbook Pro"}}

#Q. What is the price of Iphone 11 and Iphone 13 in Amazon after applying the discount

In [188]:
Price_of_iphone11=int(Amazon['Mobiles']['IOS']['Iphone 11']['Price'].split('.')[1])
Discount_of_iphone11=int(Amazon['Mobiles']['IOS']['Iphone 11']['Discount'].split('%')[0])
New_price_of_iphone11="Rs."+str(Price_of_iphone11-((Discount_of_iphone11*Price_of_iphone11)/100))
Amazon['Mobiles']['IOS']['Iphone 11']['Price']=New_price_of_iphone11
Amazon['Mobiles']['IOS']['Iphone 11']
Amazon

{'Mobiles': {'IOS': {'Iphone 11': {'Battery': '3000mAh',
    'Camera': '8MP',
    'Price': 'Rs.40000.0',
    'Discount': '20% OFF'},
   'Iphone 13': {'Camera': '12MP',
    'RAM': '6GB',
    'Price': 'Rs.52500.0',
    'Discount': '25% OFF'}},
  'Android': {'Samsung 21 Ultra': {'Battery': '5000mAh', 'Camera': '80MP'}}},
 'Books': {'Genres': {'Self_Help': 'Pshychology_of_Money',
   'Literature_fiction': 'Harry_Potter'}},
 'Clothing': {'Kids': {'Shorts': 'Lily Puts'},
  'Adults': {'Men': 'Nike', 'Women': 'Zara'}},
 'Computers': {'Windows': 'Dell G15', 'Mac': 'Macbook Pro'}}

In [187]:
Price_of_iphone13=int(Amazon['Mobiles']['IOS']['Iphone 13']['Price'].split('.')[1])
Discount_of_iphone13=int(Amazon['Mobiles']['IOS']['Iphone 13']['Discount'].split('%')[0])

New_price_of_iphone13="Rs."+str(Price_of_iphone13-((Discount_of_iphone13*Price_of_iphone13)/100))
Amazon['Mobiles']['IOS']['Iphone 13']['Price']=New_price_of_iphone13
Amazon['Mobiles']['IOS']['Iphone 13']
Amazon

{'Mobiles': {'IOS': {'Iphone 11': {'Battery': '3000mAh',
    'Camera': '8MP',
    'Price': 'Rs.50000',
    'Discount': '20% OFF'},
   'Iphone 13': {'Camera': '12MP',
    'RAM': '6GB',
    'Price': 'Rs.52500.0',
    'Discount': '25% OFF'}},
  'Android': {'Samsung 21 Ultra': {'Battery': '5000mAh', 'Camera': '80MP'}}},
 'Books': {'Genres': {'Self_Help': 'Pshychology_of_Money',
   'Literature_fiction': 'Harry_Potter'}},
 'Clothing': {'Kids': {'Shorts': 'Lily Puts'},
  'Adults': {'Men': 'Nike', 'Women': 'Zara'}},
 'Computers': {'Windows': 'Dell G15', 'Mac': 'Macbook Pro'}}

In [189]:
string='Inderpreet'
string.split('e')

['Ind', 'rpr', '', 't']

In [145]:
string='Inderpreet'
string.split('p')

['Inder', 'reet']

In [146]:
string2='Sangam%itra'
string2.split('%')

['Sangam', 'itra']

In [150]:
string='25% OFF'
int(string.split('%')[0])

25