In [1]:
5/0

ZeroDivisionError: division by zero

In [ ]:
name='inder

In [ ]:
def divide(num1,num2):
    return num1/num2

In [ ]:
a=3
b=2
c=divide(3,0)
a+b+c

In [ ]:
"Upgrad"+5

# Errors

Errors are the problems in a program or code due to which the program execution is halted.

Two types of errors in programming

1. Syntax Errors: When there is no proper syntax of the programming language that is the rules of the language are not followed

2. Logical Errors:when in the runtime an error occurs after the syntax check

In [ ]:
name='Rimpy  
#this is a syntax errors

In [ ]:
30/0 
#this is a logical errors

Exception	Description

IndexError---->	When the wrong index of a list is retrieved.

AssertionError--->	It occurs when the assert statement fails

AttributeError---->	It occurs when an attribute assignment is failed.

ImportError---->	It occurs when an imported module is not found.

KeyError---->	It occurs when the key of the dictionary is not found.

NameError---->	It occurs when the variable is not defined.

MemoryError--->	It occurs when a program runs out of memory.

TypeError---->	It occurs when a function and operation are applied in an incorrect type

In [ ]:
lst=[1,2,3]
lst[4]

In [ ]:
a=1
b=0

assert b!=0,"Invalid operation not possible"
print(a/b)

In [ ]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

In [ ]:
lst=[1,2,3,4]
reduce(lambda a,b:a+b,lst)

In [ ]:
from toolkit.interface import interface

In [ ]:
Name="Inderpreet"
number=123
Name+number

In [ ]:
m=1
n=0

assert n!=0,"It is a invalid operation"
print(m/n)

# Exception Handling

Whenever an error and an exception occurs we can handle them with the help of the method of exception handling

Try and except statements are used in Python to handle the exceptions.

In [2]:
a=5/0

ZeroDivisionError: division by zero

In [3]:
a=int(input("Please add value"))
b=int(input("Please add second value"))


try:
    division=a/b
except ZeroDivisionError:
    print("You cannot divide a number by 0")

Please add value

ValueError: invalid literal for int() with base 10: ''

In [4]:
lst=[1,2,3,4,5]

try:
    lst[6]
except IndexError:
    print("You cannot access the elements of list which is not present at the index")

You cannot access the elements of list which is not present at the index

In [5]:
lst=[1,2,3,4,5]

try:
    lst[6]
except :
    print("Error present")

Error present

In [6]:
def division(num1,num2):
    return num1/num2

try:
    print("The division result",division(1,2))
    print("The division for second",division(2,0))
except:
    print("There is a error")

The division result 0.5
There is a error

In [7]:
while True:
    try:
        a=int(input("Please add value "))
        b=int(input("Please add second value "))
        result=a/b
        print("the result is---------------------------->",result)

    except:
        print("This is invalid operation")
        break
    else:
        print("This will be executed only once")
        break

Please add value 10
Please add second value 0
This is invalid operation

In [1]:
while True:
    a=int(input("Please add value "))
    b=int(input("Please add second value "))
    result=a/b
    print("the result is---------------------------->",result)
    
# If we will not consider the edge cases at which our code can break then our code execution will be halted

Please add value 5
Please add second value 0

ZeroDivisionError: division by zero

There is an error
divide other two numbers
1.6666666666666667

In [19]:
enter_Int()

Please add a integer valueinder
Looks like you have entered a non integer
Finally I am executed even after error or no error
Please add first integer value5
Please add second integer value3
8

# Finally Keyword

The finally block will always execute after the normal termination of 
try block or after try block terminated due to any exception

In [22]:
def enter_Int():
    try:
        value=int(input("Please add a integer value"))
    except:
        print("Looks like you have entered a non integer")
    finally:
        print("Finally I am executed even after error or no error")
        num1=int(input("Please add first integer value"))
        num2=int(input("Please add second integer value"))
    print(num1+num2)

In [23]:
enter_Int()

Please add a integer value5
Finally I am executed even after error or no error
Please add first integer value3
Please add second integer value6
9

In [ ]:
try:
    5/0
except:
    print("There is an error")
finally:
    print("divide other two numbers")
    print(5/3)

In [26]:

while True:
1    try:
        value=int(input("Please add a integer value"))
2    except:
        print("Looks like you have entered a non integer")
        break
3    else:
        print("This is an integer")
        break
4    finally:
        print("Finally I am executed even after error or no error")

Please add a integer valueInderpreet
Looks like you have entered a non integer
Finally I am executed even after error or no error

In [27]:
try:
    5/0
except:
    print("There is a error")
else:
    print("divide other two numbers->",5/3)
finally:
    print("I will run everytime")

There is a error
I will run everytime

## Else condition will only run with try and except only and only if there is no exception or Error

In [29]:
def add_two(num1,num2):
    return num1+num2

while True:
    try:
        print("division result",100/0)
    except:
        print("There is a error")
        break
    else:
        print("Let's do addition->",add_two(2,3))
        break
    finally:
        print("I will run everytime")
        break

division result 20.0
Let's do addition-> 5
I will run everytime

In [58]:
# Given an integer return the integer with reversed digits

# For example 123----> 321
# 348----->843
# -123--------------->-321

def reverse_num(num):
    string=str(num)
    
    if string[0]=='-':
        return int('-'+ string[:0:-1])
    else:
        return int(string[::-1])

In [60]:
reverse_num(4501)

1054

In [33]:
string[::-1]

'321'

In [51]:
str2='inder'
str2[:-3]

'in'

In [52]:
str2[:-2]

'ind'

In [57]:
str3="Inderpreet"
str3[::-1]

'teerprednI'

In [61]:
def sum():
    num1=int(input("Please add first integer value"))
    num2=int(input("Please add second integer value")) 
    return num1+num2

In [62]:
sum()

Please add first integer value3
Please add second integer value4

7

Eval Function

This method will parse the expression to the method and run the code

In [64]:
number=8

square_no=eval('number*number')
type(square_no)

int

In [65]:
x=2
eval('x+1')

3

Q2. Given two non negative integers num1 and nums2 as string return the sum of the num1 and num2

Example:
    num1="123"
    num2="343"
    sum=466 this should be an integer

In [105]:
def divide_two_Number(num1,num2):
    if num1.isnumeric() and num2.isnumeric():
        if len(num1)>1:
            num1=num1.lstrip('0')
        if len(num2)>1:
            num2=num2.lstrip('0')
        try:
            return (eval(num1)/eval(num2))
        except:
            print("This is a invalid operation")
    else:
        print("Please add valid numbers")

In [106]:
divide_two_Number("5","10")

0.5

In [77]:
num1="inder"
num1.isnumeric()

False

## Map Function Questions

#Write a program to listify the list of string indivually using Python Map

color=["Red","Blue","Orange"]

Output:[['R','e','d'],['B','l','u','e'],['O','r','a','n','g','e']]

In [108]:
str1='Red'

list(str1)

['R', 'e', 'd']

In [110]:
color=["Red","Blue","Orange"]
list(map(list,color))

[['R', 'e', 'd'], ['B', 'l', 'u', 'e'], ['O', 'r', 'a', 'n', 'g', 'e']]

In [112]:
def get_character(string):
    lst=[]
    for i in string:
        lst.append(i)
    return lst


color=["Red","Blue","Orange"]

for i in color:
    print(get_character(i))

['R', 'e', 'd']
['B', 'l', 'u', 'e']
['O', 'r', 'a', 'n', 'g', 'e']

# Write a Python Program to count the same pair in two given list using map

num1=[1,2,3,4,5,6,7]
num2=[1,3,4,19,6,12,13]
Output :4

In [121]:
num1=[1,2,3,4,5,6,7]
num2=[1,3,4,19,6,12,13]

def check_pairs(num1,num2):
    count_pair=0
    for i in num1:
        if i in num2:
            count_pair+=1

    return count_pair

In [122]:
check_pairs(num1,num2)

4

In [1]:
#lETS USE MAP FUNCTION


from operator import eq



def count_pair(num1,num2):
    result= sum(map(eq,num1,num2))
    return result

In [2]:
num1=[1,2,3,4,5,6,7]
num2=[1,2,3,19,6,12,13]
count_pair(num1,num2)

3

# Lambda Function

In [5]:
# Q. Lambda Function to find smaller value between two elements

# Example: a=5
#     b=3
#     Answer is 3

# def func(a,b):
#     return min(a,b)



get_min=lambda a,b:min(a,b)

get_min(10,5)

5

In [8]:
# Use the lambda function to iterate a list in python and square all the elements present in the list

l1=[3,4,5,6,7]
l2=[]

Output:[9,16,25,36,49]
    

for i in l1:
    
    temp=lambda i:i**2
    l2.append(temp(i))
    
l2

[9, 16, 25, 36, 49]

# Filter Function

In [9]:
Fruits=['Apple',"Strawberry","banana","Apricot","Orange"]

# Q. Filter the list where the first alphabet in the string is a A
def start_with_A(string):
    return string[0]=='A'

list(filter(start_with_A,Fruits))

['Apple', 'Apricot']

In [11]:
student_marks=[45,56,43,21,54,76,34,67,98,23,45,89,93]


def student_Scored_more_than_85(score):
    return score>85

list(filter(student_Scored_more_than_85,student_marks))

[98, 89, 93]

#List of strings=["India","Gym","Szczyrk","Aman"]

Output:["Gym","Szczyrk"]

In [20]:
List_of_strings=["india","gym","Szczyrk","Aman"]

def filter_string_without_vowel(string):
    string=string.lower()
    vowels=['a','e','i','o','u']
    print("The string is------------",string)
    for i in string:
        if (i in vowels):
            return False
        else:
            return True
    

list(filter(filter_string_without_vowel,List_of_strings))

The string is------------ india
The string is------------ gym
The string is------------ szczyrk
The string is------------ aman

['gym', 'Szczyrk']

In [21]:
string='Inder'
string=string.lower()
string

'inder'