# Functional Programming: It is a programming method where programs are constructed using Functions

# Functions

## Introduction To functions

A functions is a group of statements to run the statement more than once. It allows us to specify the parameters that can serve as input to the function

Syntax:

def name_of_function(arg1,arg2):
    Block of code

In [10]:
def say_hello():
    print("Hello Everyone")

In [13]:
say_hello()

Hello Everyone

In [15]:
def add_two_numbers(a,b):
    print(a+b)

In [16]:
add_two_numbers(3,6)

9

In [17]:
def even_odd(number):
    if number%2==0:
        print("This is a even number")
    else:
        print("This is a odd number")

In [18]:
even_odd(5)

This is a odd number

In [33]:
def check_vowel(name):
    for i in name:
        if (i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='I'):
            print("This name have vowels {} in it ".format(i))

In [34]:
check_vowel("Inderpreet")

This name have vowels I in it
This name have vowels e in it
This name have vowels e in it
This name have vowels e in it

In [35]:
print("This is {} {} {} {}".format("Inderpreet","teaching","Python","Programming"))

This is Inderpreet teaching Python Programming

In [48]:
def Check_prime(number):
    
    for i in range(2,number):
        if i%number==0:
            print("This {} is not prime".format(number))
            break
    else:
        print("The number is Prime")

In [55]:
Check_prime(10)

The number is Prime

In [44]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [60]:
def is_prime(num):
#A efficient approach to find prime number

    if num%2==0 and num>2:
        print("This is a even number and not a prime number")
    for i in range(3,num):
        if num%i==0:
            print("This is not a prime number")
    else:
        print("This is a prime number")

In [62]:
is_prime(49)

This is not a prime number
This is a prime number

In [69]:
def add_two_Number(a,b):
#     print("The print is---------------------",a+b)
    return a+b

In [70]:
sum_no=add_two_Number(2,3)

In [71]:
sum_no

5

In [80]:
def even_odd(number):
    if number%2==0:
        return "Even"
    else:
        return "Odd"

In [82]:
lst=[2,3,4,5,21,210,43]

for i in lst:
    print("The number is-------------",i)
    print("This {} is--->".format(even_odd(i)))

The number is------------- 2
This Even is--->
The number is------------- 3
This Odd is--->
The number is------------- 4
This Even is--->
The number is------------- 5
This Odd is--->
The number is------------- 21
This Odd is--->
The number is------------- 210
This Even is--->
The number is------------- 43
This Odd is--->

In [110]:
# Write a function to convert Temperature into Fahrenheit

#°F = (9/5) °C+32.

def celsius_to_fahrenheit(Temp_Celsium):
    return ( int(round((9/5)*Temp_Celsium,0))+32)

In [111]:
celsius_to_fahrenheit(22)

72

In [103]:
int(round(21.67,1))

21.7

In [109]:
int(round(21.6,1))

21

#The round() function returns a floating point number that is a rounded version of the specified number, with the specified number of decimals.

In [98]:
round(1.435654,1)

1.4

## Map()

The map is a function that takes two arguments:

1. A function
2. A sequence iterable (example: string,tuple,list,dictionary)

In [ ]:
def celsius_to_fahrenheit(Temp_Celsium):
    return ( int(round((9/5)*Temp_Celsium,0))+32)

In [112]:
lst_temp=[23,21,43,654,32,23,54]

for i in lst_temp:
    print("The temp in fahrenheit is--------------",celsius_to_fahrenheit(i))

The temp in fahrenheit is-------------- 73
The temp in fahrenheit is-------------- 70
The temp in fahrenheit is-------------- 109
The temp in fahrenheit is-------------- 1209
The temp in fahrenheit is-------------- 90
The temp in fahrenheit is-------------- 73
The temp in fahrenheit is-------------- 129

In [114]:
list(map(celsius_to_fahrenheit,lst_temp))

[73, 70, 109, 1209, 90, 73, 129]

In [118]:
def check_vowel(name):
    for i in name:
        if (i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='I'):
            return "Vowel"
        else:
            return "Consonants"

In [119]:
name='Jitender'
#list(map(check_vowel,name))

['Consonants',
 'Vowel',
 'Consonants',
 'Vowel',
 'Consonants',
 'Consonants',
 'Vowel',
 'Consonants']

In [122]:
#°C = (°F - 32) × 5/9;

def fahrenheit_to_celsius(temp):
    return  round((5/9)*(temp-32),0)

def celsius_to_fahrenheit(Temp_Celsium):
    return ( int(round((9/5)*Temp_Celsium,0))+32)

In [123]:
fahrenheit_to_celsius(73)

23.0

In [128]:

temp_list=[23,24,54,65,76,876]
# First convert celsius to Fahrenheit
# Second convert Fahrenheit to celsius

temp_list=list(map(celsius_to_fahrenheit,temp_list))

In [129]:
list(map(fahrenheit_to_celsius,temp_list))

[23.0, 24.0, 54.0, 65.0, 76.0, 876.0]

In [133]:
list_no=[1,2,3,4,5,6,7]

# Add the number
# Example list_No=[2,4,6,8,10....]
# 1+1
# 2+2
# 3+3
# 4+4



def addition_No(num):
    return num+num

addition_list=list(map(addition_No,list_no))
addition_list

[2, 4, 6, 8, 10, 12, 14]

In [131]:
addition_No(2)

4

In [136]:
list1=[10,20,30,40,50,60,70,80]

def divide(num):
    return float(num/15)

list(map(divide,list1))

[0.6666666666666666,
 1.3333333333333333,
 2.0,
 2.6666666666666665,
 3.3333333333333335,
 4.0,
 4.666666666666667,
 5.333333333333333]

In [ ]:
for i in "Inderpreet":
    if (i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='I'):
        return "Vowel"
    else:
        return "Consonants"

# Lambda Functions

1.Lambda Functions are anonymous functions
2. For using the lambda Function we use Lambda Keyword
3. This function can have any number of arguments

Syntax:
    lambda argument: expression

In [137]:
def square(number):
    return number*number

In [138]:
square(5)

25

In [140]:
square_lambda=lambda number:number*number

In [141]:
square_lambda(5)

25

In [142]:
def greatest_number(num1,num2): # This is a traditional approach
    if (num1>num2):
        return num1
    else:
        return num2

In [144]:
greatest_number(2,5)

5

In [145]:
greatest_number_lambda=lambda num1,num2: num1 if (num1>num2) else num2

In [146]:
#greatest_number_lambda(2,7)

7

In [147]:
#15*1=15
#15*2=30
#15*3=45

def table(number):
    for i in range(1,11):
        print("the table is----------",i*number)

In [148]:
table(15)

the table is---------- 15
the table is---------- 30
the table is---------- 45
the table is---------- 60
the table is---------- 75
the table is---------- 90
the table is---------- 105
the table is---------- 120
the table is---------- 135
the table is---------- 150

In [ ]:
# # Calculate Table of 15 using Lambda Function
# HOMEWORK

In [149]:
#(9/5)*Temp_Celsium+32
#Convert temperature in list to F

temp_list=[34,45,65,32,45,21,43]

convert_temp_to_fah=lambda Temp: ((9/5)*Temp)+32

In [150]:
convert_temp_to_fah(43)

109.4

In [151]:
list(map(convert_temp_to_fah,temp_list))

[93.2, 113.0, 149.0, 89.6, 113.0, 69.80000000000001, 109.4]

# Filter

The filter method filters the given sequence with the help of a function that will test each element in the sequence to be true or not

# Syntax:
    #filter(function,sequence)

In [152]:
def odd_num(num):
    if num%2!=0:
        return True

In [154]:
lst=[232,34,21,12,43,56,32,21,32,21,45,12,43]
# lst_new=[21,43,21,21,45,43]    This is the required output

list(filter(odd_num,lst))

[21, 43, 21, 21, 45, 43]

In [155]:
def even_num(num):
    if num%2==0:
        return True

In [156]:
lst=[232,34,21,12,43,56,32,21,32,21,45,12,43]
# lst_new=[232, 34, 12, 56, 32, 32, 12]    This is the required output

list(filter(even_num,lst))

[232, 34, 12, 56, 32, 32, 12]

In [160]:
def is_prime(num):
#A efficient approach to find prime number

    if num%2==0 and num>2:
        return False
    for i in range(3,num):
        if num%i==0:
            return False
    else:
        return True

In [162]:
lst=[232,34,21,12,56,32,21,32,21,45,12,43,3,5,7]
list(filter(is_prime,lst))

[43, 3, 5, 7]

# Reduce function

The reduce function is used to apply a particular function passed in its argument to all of the list elements in the sequence

How it works!!!!
1. At first it will choose two elements of sequence and a result will be obtained
2. Apply the same function to the previously attained result
3. This process will be continued until no more elements are there

In [164]:
import functools  #Import functools to use reduce

lst=[1,2,3,4]

def add_two(a,b):
    return a+b

functools.reduce(add_two,lst)

10

In [165]:
lst=[1,3,4,5]
#Answer=1*3*4*5=60

def multiple_two(a,b):
    return a*b

functools.reduce(multiple_two,lst)

60

In [167]:
set={1,2,3,4,5}
def multiple_two(a,b):
    return a*b

functools.reduce(multiple_two,tup)

120