In [5]:
print('WELCOME TO INDUSIND BANK')
AC =259714252876
DICT={AC:8554}
bal =30000
ACCT1=int(input('please enter your account number:'))
PIN =int(input('please enter the pin number:'))

if ACCT1==AC:
    print('ACCOUNT NUMBER IS:',AC)
    if PIN==DICT.get(AC):
        amt=int(input('enter the amount:'))
        if amt<=bal:
            print('collect the cash')
    else:
        print('your pin is incorrect ')

WELCOME TO INDUSIND BANK
please enter your account number:12454
please enter the pin number:8554

# Map Function in Python

The map() is a function that takes two arguments.

1.A function name

2. A sequence iterable like list,tuple.

Syntax(function_name,iterable)


The first argument is the function name and the second is a sequence (e.g list).

In [6]:
def convert_celsius_to_fahrenheit(temp):
    return (9/5)*temp +32

In [7]:
lst_tmp=[32,54,32,12,65]

In [9]:
list(map(convert_celsius_to_fahrenheit,lst_tmp))

[89.6, 129.2, 89.6, 53.6, 149.0]

In [11]:
def celsius1(temp): 
    return (9/5)*temp+32 
list_temp =[32,35,45,100] 
tem =list(map(celsius1,list_temp))
tem

[89.6, 95.0, 113.0, 212.0]

In [14]:
Marks=[1,2,3,4]
Marks2=[5,6,7,8,10,12]


def summ(x,y):
    return x+y

list(map(summ,Marks,Marks2))

[6, 8, 10, 12]

In [15]:
#Write a python program to quadruple the number given in a list using map function

lst=[2,4,6,8]
# Output: [2+2+2+2,4+4+4+4,24,32]
    
def quadruple(num):
    return 4*num

list(map(quadruple,lst))

[8, 16, 24, 32]

In [ ]:
# Write a python program to find the square of each number in the list using map
#function

In [18]:
def square(num):
    return num**2


lst=[1,2,3,4]
list(map(square,lst))

[1, 4, 9, 16]

In [21]:
# #Write a python program to convert a list of integers and a tuple of integers
# in a list of string

# num_lst=[1,3,5,6] -----> ['1','3','5','6']
# nums_tuple=(0,1,2,3)----> ('0','1','2','3')
num_lst=[1,3,5,6] 
nums_tuple=(0,1,2,3)


resulted_lst=list(map(str,num_lst))
resulted_lst

['1', '3', '5', '6']

In [23]:
resulted_tup=tuple(map(str,nums_tuple))
resulted_tup

('0', '1', '2', '3')

In [25]:
#Write a python program to extract the strings in the list which have vowels
# lst_string=["Inderpreet","Mohammed","Kinjalika","Gym",'Dry']

# Output:["Inderpreet","Mohammed","Kinjalika"]

In [4]:
def vowel_in_string(string):
    string=string.upper()
    for i in string:
        if i in 'AEIOU':
            return string
    else:
        return ""
        
lst_string=["Inderpreet","Mohammed","Kinjalika","Gym","Dry"]
        
print(list(map(vowel_in_string,lst_string)))

['INDERPREET', 'MOHAMMED', 'KINJALIKA', '', '']

# Filter function in Python

The filter() method will filter the given iterable with the help of the function that will check whether the element in the sequence true or not.

Syntax: filter(function_name,iterable)

iterable can be set,list,tuple or any type of iterator

In [8]:
def even_no(num):
    return num%2==0

In [9]:
# Write a program using filter function to extract even numbers from the list

lst=[2,4,12,4,1,67,43,22]

list(filter(even_no,lst))

[2, 4, 12, 4, 22]

In [12]:
# Write a python program to filter out the consonants

lst=['a','v','c','d','e','j','s','f','a','d']

In [13]:
def check_consonants(char):
    char=char.lower()
    if char not in 'aeiou':
        return True
    
list(filter(check_consonants,lst))

['v', 'c', 'd', 'j', 's', 'f', 'd']

# Lambda Function

Lambda function are anonymous functions that means functions without name

Syntax:

lambda arguments: expressions

1. This function can have any number of arguments but only 1 expression.
2. Lambda function dont have any name

In [19]:
string="Inderpreet"

(lambda alphabet:print(string))(string)

Inderpreet

In [22]:
def cube(num):
    return num**(3)

In [23]:
cube(3)

27

In [25]:
lambda_cube=lambda num:num**3
lambda_cube(3)

27

In [27]:
def max_two_numbers(num1,num2):
    if num1>num2:
        return num1
    else:
        return num2

In [28]:
max_two_numbers(15,20)

20

In [29]:
max_two_numbers2=lambda num1,num2: num1 if (num1>num2) else num2
max_two_numbers2(15,20)

20

In [31]:
#Q. Write a python program to filter out even numbers from a 
#list using filter and lambda function
lst=[1,3,2,4,65,43,21,33,66]

In [32]:
list(filter((lambda num:num%2==0),lst))

[2, 4, 66]

In [33]:
# Write a python program to filter out ages in the list who are 60 years old

age_lst=[34,12,45,56,67,32,98,43,65,23]

list(filter(lambda age:age>60,age_lst))

[67, 98, 65]

In [35]:
def check_age(age):
    if age>60:
        return age

list(map(check_age,age_lst))

[None, None, None, None, 67, None, 98, None, 65, None]

In [38]:
students_marks=[("Muna",67),("Inder",33),('Saket',55)]
students_marks[0][1]
students_marks.sort(key=lambda x:x[1])

In [39]:
students_marks

[('Inder', 33), ('Saket', 55), ('Muna', 67)]

In [40]:
students_marks.reverse()

In [41]:
students_marks

[('Muna', 67), ('Saket', 55), ('Inder', 33)]

# Reduce function in python

The reduce function is used to apply a particular function passed in its argument to all of the list element

How does reduce works:

1. At first step, it will choose only the first two elements of the sequence
2. Next step it will apply the same function to the previous result and the number just succeeding to the second element and again the result is stored.
3. This will continue until no element is left in the sequence.

You have to import functools to use reduce function

In [43]:
lst=[1,3,5,7,8,9]

#Find the sum of elements in the list using reduce functions

import functools

functools.reduce(lambda num,num2:num+num2,lst)

33

In [44]:
functools.reduce(lambda num,num2:num*num2,lst)

7560

In [45]:
def dollar_to_inr(currency):
    return currency*76

In [46]:
lst_dollars=[500,700,1100,340]

money_in_inr=list(map(dollar_to_inr,lst_dollars))

[38000, 53200, 83600, 25840]

In [48]:
nums=[1,3,4,5,2,1,110,2,21,43]

#Use reduce function in python to find the maximum element in the nums list

functools.reduce(lambda num1,num2:num1 if (num1>num2) else num2,nums)

110

# List Comprehension

List comprehension consist of brackets containing the expression, which is executed for each element along with the loop to iterate over each element

Syntax: [expression(element) for element in lst ]

In [49]:
string='Inderpreet'

[alphabet for alphabet in string]

['I', 'n', 'd', 'e', 'r', 'p', 'r', 'e', 'e', 't']

In [50]:
# Write a python program using list comprehension to find the squares of the no
#in the list

In [51]:
lst=[1,3,5,6,8,10]
[num**2 for num in lst]

[1, 9, 25, 36, 64, 100]

In [ ]:
[[1,2,3],[1,2,3],[1,2,3]]

In [52]:
[[j for j in range(1,4)] for i in range(1,4)]

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]