In [1]:
print("Inder)
print("Inder")

SyntaxError: EOL while scanning string literal (Temp/ipykernel_6008/3548481302.py, line 1)

In [2]:
x=4
y=2

x==y

False

In [3]:
x>y

True

In [5]:
x<y

False

In [6]:
a=5
type(a)

int

In [7]:
a=5.1
type(a)

float

In [8]:
a=False
type(a)

bool

In [9]:
a="Inder"
type(a)

str

# List

Lists are constructed with brackets[] and commas are used to separate each element in the list

In [10]:
my_list=["Inder",76,1413,False]
my_list

['Inder', 76, 1413, False]

In [11]:
type(my_list[0])

str

# Append
Use the append method to permanently add an item to the end of a list:

In [12]:
my_list.append("Vipin")
my_list

['Inder', 76, 1413, False, 'Vipin']

## Indexing and Slicing

Indexing and Slicing works just like in Strings

In [13]:
my_list2=['one','two','three',4.5]

We can use  "+" to concatenate Lists, just like we did for Strings

In [14]:
my_list2+ ['inder','aman']

['one', 'two', 'three', 4.5, 'inder', 'aman']

In [15]:
my_list2

['one', 'two', 'three', 4.5]

In [16]:
my_list2[1:]

['two', 'three', 4.5]

In [17]:
my_list2[1:2]

['two']

In [19]:
my_list2[1:3]

['two', 'three']

We can use the * for a duplication method similiar to strings

In [22]:
my_list2*3

['one',
 'two',
 'three',
 4.5,
 'one',
 'two',
 'three',
 4.5,
 'one',
 'two',
 'three',
 4.5]

## Pop Method in Lists

Pop is to remove an item from the list. By default pop will always take the last index,but you can also specify which index to pop:
    Let's take an example

In [23]:
my_list2

['one', 'two', 'three', 4.5]

In [24]:
my_list2.pop()

4.5

In [25]:
my_list2

['one', 'two', 'three']

In [28]:
my_list2.pop(1)

'three'

In [27]:
my_list2

['one', 'three']

### Index in the list are not Fixed

## Reverse
Syntax: list_name.reverse()

In [31]:
my_list2=[1,2,3,"Inder","Upgrad"]
my_list2.reverse()

In [32]:
my_list2

['Upgrad', 'Inder', 3, 2, 1]

## Count
Count() taken an element from your list and return the number of time it has occured in your list

In [34]:
my_list2.append(3)
my_list2.append(3)
my_list2.append(2)

In [35]:
my_list2

['Upgrad', 'Inder', 3, 2, 1, 3, 3, 2]

In [36]:
my_list2.count(3)

3

## Extend
Many times people will find the difference between extend and append to be unclear

1. Append:Appends the objects at the end
2. Extend: Extend list by appending the items from the iterable

The extend() method add the specified list element to the end of the current list

In [37]:
fruits=['kiwi','apple','banana','cherry']
points=[1,2,3,4]               #tuple  

fruits.extend(points)

In [38]:
fruits

['kiwi', 'apple', 'banana', 'cherry', 1, 2, 3, 4]

## Insert
Two arguments can be placed in insert method

Syntax: insert(index,object)
This method places the ovject at the index supplied

In [39]:
my_list=[1,2,3]
my_list.insert(1,'inder')
my_list

[1, 'inder', 2, 3]

In [40]:
my_list.insert(4,'ravi')
my_list

[1, 'inder', 2, 3, 'ravi']

## Remove
The remove method() removes the first occurence of a value.

In [41]:
my_list.append(3)

In [42]:
my_list

[1, 'inder', 2, 3, 'ravi', 3]

In [43]:
my_list.remove(3)

In [44]:
my_list

[1, 'inder', 2, 'ravi', 3]

## Sort

In [45]:
Lst_student_marks=[33,12,94,56,98,67]
Lst_student_marks.sort()
Lst_student_marks

[12, 33, 56, 67, 94, 98]

In [46]:
Lst_student_marks.sort(reverse=True)
Lst_student_marks

[98, 94, 67, 56, 33, 12]

In [47]:
name_list=["inder",'ravi',"hariom",'kalyani']
name_list.sort()
name_list

['hariom', 'inder', 'kalyani', 'ravi']

## Sorted

Sorted method sorts the given sequence either in ascending or descending order. This method does not affect the original sequence of the list

Syntax: sorted(iterable,reverse=False or True)
False means ascending order
True means descending order

In [48]:
List1=[1,3,6,7,4,-1,5]
List1.sort()
List1

[-1, 1, 3, 4, 5, 6, 7]

In [51]:
orig_list=[1,3,6,7,4,-1,5]
list3=sorted(orig_list)

In [52]:
orig_list

[1, 3, 6, 7, 4, -1, 5]

In [53]:
list3

[-1, 1, 3, 4, 5, 6, 7]

## Del Method

This method delets all the elements from index a to index b

Syntax: del list_name[a:b]

In [54]:
List1=[1,4,5,6,3]
del List1[1:4]
List1

[1, 3]

## Nested List: A list inside another List

In [55]:
List1=[1,[1,3],'inder',[4,5]]
List1

[1, [1, 3], 'inder', [4, 5]]

In [58]:
List1[1][1]

3

In [60]:
List3=[1,2,3,4,5,6,7]
List3[::3]

[1, 4, 7]

In [ ]:
List3[:-1]

## Dictionary

A python dictionary consists of a key and an associated value
1. The dictionary in Python is represented using Curly Braces.
2. Dictionary is also Mutable (that means we can change the dictionary)

In [61]:
class1={"Name":"Inder","Marks":75,"Rollno":1413,"Class":"VI"}
class1

{'Name': 'Inder', 'Marks': 75, 'Rollno': 1413, 'Class': 'VI'}

In [62]:
class1['Name']

'Inder'

In [63]:
class1['Marks']

75

Note that dictionaries are very flexible in the data types. 
For example we can have different data types

In [64]:
my_dict={'name':'ravi',True:'answer','Marks':65.33}
my_dict

{'name': 'ravi', True: 'answer', 'Marks': 65.33}

In [66]:
my_dict['Marks']

65.33

In [67]:
type(my_dict)

dict

## Nested Dictionaries: A dictionary inside another dictionary

In [69]:
dict1={'class':'10th Standard',"Student_names":['inder','ravi','ravirag','bhagyashree']}

In [73]:
dict1['Student_names'][3]

'bhagyashree'

In [75]:
dict_2={'Mobile Phones':{'Iphone':['iphone10','iphone13'],'Android_phones':['Samsung','MI']}}
dict_2

{'Mobile Phones': {'Iphone': ['iphone10', 'iphone13'],
  'Android_phones': ['Samsung', 'MI']}}

In [78]:
dict_2['Mobile Phones']['Iphone'][1]

'iphone13'

## A few Dictionary Methods

In [79]:
dict_2

{'Mobile Phones': {'Iphone': ['iphone10', 'iphone13'],
  'Android_phones': ['Samsung', 'MI']}}

In [81]:
a=dict_2.keys()
type(a)

dict_keys

In [84]:
dictNew={'key1':1,'key2':2,'key3':3}
lst=list(dictNew.keys())
lst

['key1', 'key2', 'key3']

## Typecasting is the method of converting one data type into another

For example: Dictionary keys-------> a "list of keys

dict.items() returns the tuples of all items("We will learn about it soon")

In [86]:
dictNew.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [87]:
dictNew

{'key1': 1, 'key2': 2, 'key3': 3}

In [88]:
dictNew['Key4']=5

In [89]:
dictNew

{'key1': 1, 'key2': 2, 'key3': 3, 'Key4': 5}

In [90]:
dictNew['Name']='inder'
dictNew

{'key1': 1, 'key2': 2, 'key3': 3, 'Key4': 5, 'Name': 'inder'}

For updating just replace the key value with the value that you want to add

In [91]:
dictNew['Name']='Ravi'
dictNew

{'key1': 1, 'key2': 2, 'key3': 3, 'Key4': 5, 'Name': 'Ravi'}

In [93]:
dictNew['Name1']='inder'
dictNew

{'key1': 1, 'key2': 2, 'key3': 3, 'Key4': 5, 'Name': 'Ravi', 'Name1': 'inder'}

For accessing the elements just access it using the name of the key in the dictionary

In [94]:
dictNew['key3']

3

## Del method will delete the entire dictionary

In [95]:
del dictNew['key3']
dictNew

{'key1': 1, 'key2': 2, 'Key4': 5, 'Name': 'Ravi', 'Name1': 'inder'}

#Tuple Non primitive data structure 

Tuples are similiar to list but they are immutable i.e they cannot be changed
You will use the tuples to present data that should not change.

Example of Tuple will be Aadhar number

Tuple is denoted by ( ) with elements separated by the commas

In [97]:
aadhar_number=(616413423345,456321453212)
aadhar_number

(616413423345, 456321453212)

In [99]:
aadhar_number[0]=124

TypeError: 'tuple' object does not support item assignment

1. This errors shows that tuples are immutable
2. Tuples can also store different data types
3. Tuples order cant be changed

In [102]:
tupl=('one',1,3.5,False)
tupl

('one', 1, 3.5, False)

In [103]:
tupl.sort()

AttributeError: 'tuple' object has no attribute 'sort'

## Use index to enter a value and return the index
Syntax: tuple_name.index(value)

In [104]:
tupl.index(3.5)

2

In [ ]:
[]--->List
()---->Tuple
{}---->Dictionary

In [106]:
nested_tuple=((1,3),3,5)
nested_tuple

((1, 3), 3, 5)

In [108]:
list1=[1,2,3,(4,5)]
list1

[1, 2, 3, (4, 5)]

## Sets

Sets are an unordered collection of unique elements which can be contructed using set function

Let's go ahead and see how set works

In [109]:
x=set()
x.add(1)
x

{1}

In [110]:
x.add(1)

In [111]:
x

{1}

In [114]:
x.add(1.2)
x

{1, 1.2}

In [115]:
list1=[1,2,3,4,1,2,3,4]
list1

[1, 2, 3, 4, 1, 2, 3, 4]

In [117]:
set1=set()
set1.add(1)
set1.add(2)
set1.add(3)
set1.add(4)
set1.add(1)
set1.add(2)
set1.add(3)
set1

{1, 2, 3, 4}

## Union Method

Two sets can be merged using the union function

Syntax: Set1.union(set2)

In [121]:
people={'Inder',"Jay",'Jay'}
Actors={'Kalyani',"Raviraj",'Inder'}
people.union(Actors)

{'Inder', 'Jay', 'Kalyani', 'Raviraj'}

## Intersection can be done through intersection()

1. Common elements will be added

In [122]:
people={'Inder',"Jay",'Jay'}
Actors={'Kalyani',"Raviraj",'Inder','Jay'}
people.intersection(Actors)

{'Inder'}