## Loops
If we have to do the same thing multiple times we use the concept of loops

Repeat action------------>Loops

While Loop

Syntax:  while Test Expression:
            BLOCK OF CODE

In [1]:
# Print Numbers from 1 to 10 using while loop

start=1
end=10
while(start<=end):
    print("My start number--->",start)
    start=start+1

My start number---> 1
My start number---> 2
My start number---> 3
My start number---> 4
My start number---> 5
My start number---> 6
My start number---> 7
My start number---> 8
My start number---> 9
My start number---> 10

In [2]:
#Print even number between 1 to 25
start=1
end=25

while(start<=end):
    if(start%2==0):
        print("this is a even number-->",start)
    start=start+1

this is a even number--> 2
this is a even number--> 4
this is a even number--> 6
this is a even number--> 8
this is a even number--> 10
this is a even number--> 12
this is a even number--> 14
this is a even number--> 16
this is a even number--> 18
this is a even number--> 20
this is a even number--> 22
this is a even number--> 24

In [4]:
#Infinite Loops

start=0
end=10
while(start<end):
    print("my starting number",start)
    start=start+1

my starting number 0
my starting number 1
my starting number 2
my starting number 3
my starting number 4
my starting number 5
my starting number 6
my starting number 7
my starting number 8
my starting number 9

## For Loops

For loops are used for sequential traversal that means we are iterating over 
an iterables like string,list,tuple,etc. It falls under definite iteration that
means we know the number of repetitions

Syntax:
    For x in iterable:
        #Block of code

In [5]:
lst=[1,2,3,4,5,6,7,8]*2
lst

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [7]:
print("The element is---",lst[0])
print("The element is---",lst[1])
print("The element is---",lst[2])
print("The element is---",lst[3])
print("The element is---",lst[4])

The element is--- 1
The element is--- 2
The element is--- 3
The element is--- 4
The element is--- 5

In [8]:
for ele in lst:
    print("The element is--> ",ele)

The element is-->  1
The element is-->  2
The element is-->  3
The element is-->  4
The element is-->  5
The element is-->  6
The element is-->  7
The element is-->  8
The element is-->  1
The element is-->  2
The element is-->  3
The element is-->  4
The element is-->  5
The element is-->  6
The element is-->  7
The element is-->  8

In [9]:
str1='inder'
len(str1)

5

In [11]:
name='Kalyani Pakhale'
vowel='aeiou'
for i in name:
    if i in vowel:
        print("The alphabet is--->",i)

The alphabet is---> a
The alphabet is---> a
The alphabet is---> i
The alphabet is---> a
The alphabet is---> a
The alphabet is---> e

In [14]:
# Store even numbers in a list from 1 to 20

#Answer->[2,4,6,8,10,12,14,16,18,20]

even_number=[]
start=1
end=20

for number in range(1,21):
    if(number%2==0):
        even_number.append(number)

print("My even numbers in the list---->",even_number)

My even numbers in the list----> [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [19]:
# Store even numbers in a list from 1 to 20

#Answer->[2,4,6,8,10,12,14,16,18,20]

#Use a while loop

start=1
end=20
even_number=[]
while(start<=end):
    if(start%2==0):
        print("This is my even number",start)
        even_number.append(start)
    start=start+1

even_number

This is my even number 2
This is my even number 4
This is my even number 6
This is my even number 8
This is my even number 10
This is my even number 12
This is my even number 14
This is my even number 16
This is my even number 18
This is my even number 20

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

##Range Function
This function returns a sequence of numbers starting from 0 by default and increment by 1

range(start,end,step)

range(1,21)

In [17]:
for number in range(2,21,2):
    print(number)

2
4
6
8
10
12
14
16
18
20

In [20]:
lst=[]

for i in range(0,20):
    lst.insert(i,'inder')
    
lst

['inder',
 'inder',
 'inder',
 'inder',
 'inder',
 'inder',
 'inder',
 'inder',
 'inder',
 'inder',
 'inder',
 'inder',
 'inder',
 'inder',
 'inder',
 'inder',
 'inder',
 'inder',
 'inder',
 'inder']

In [21]:
lst=[1,2,3,4,5,6,7,8,1,2,'inder','kalyani','upgrad']

#Find the length of the list without a len function

length=0
for ele in lst:
    length=length+1

length

13

In [26]:
# Python program to print even length words

str1=input(" Please enter the String")

 Please enter the StringMy name is inder

In [28]:

lst_words=str1.split(' ')

for word in lst_words:
    if(len(word)%2==0):
        print("The even length word is--->",word)

The even length word is---> My
The even length word is---> name
The even length word is---> is

In [30]:
dict1={"key":1,"key":2}
dict1

{'key': 2}

In [34]:
dict_amazon={"Best_Seller":{"Beauty":'lakme',"Book":'Python'},"Mobiles":{"Mobile_accessories":'Phone_cover',"Sim_cards":'Jio'},"Todays_deals":{"Deal of the Day":"Iphone at 30% discount"}}
dict_amazon

{'Best_Seller': {'Beauty': 'lakme', 'Book': 'Python'},
 'Mobiles': {'Mobile_accessories': 'Phone_cover', 'Sim_cards': 'Jio'},
 'Todays_deals': {'Deal of the Day': 'Iphone at 30% discount'}}

In [37]:
dict_amazon['Mobiles']['Sim_cards']='Airtel'

In [38]:
dict_amazon

{'Best_Seller': {'Beauty': 'lakme', 'Book': 'Python'},
 'Mobiles': {'Mobile_accessories': 'Phone_cover', 'Sim_cards': 'Airtel'},
 'Todays_deals': {'Deal of the Day': 'Iphone at 30% discount'}}

In [39]:
dict_List={"Names_list":['Maheshvaran','Sneha','Inder','Ravi'],"Designation":['Student','Student','Instructor','Student']}

In [42]:
dict_List['Names_list'][1]

'Sneha'

In [49]:
dict1={'Lover':35,"Beautiful":43,"Butter":75,"Stay":78}

('Lover', 35)

In [57]:
dict1

{'Lover': 35, 'Beautiful': 43, 'Butter': 75, 'Stay': 78}

In [58]:
highest_views=sorted(dict1.values(),reverse=True)
max_views=highest_views[0]
max_views

78

In [59]:
for k in dict1:
    if(dict1[k]==max_views):
        print("Please tell me the name of the song->",k,"And the views",dict1[k])

Please tell me the name of the song-> Stay And the views 78

# Create the Fibonacci Sequence

In [60]:
first=0
second=1
next_number=0
n=10
lst_fibonacci=[0,1]

for i in range(1,n):
    next_number=first+second
    lst_fibonacci.append(next_number)
    first=second
    second=next_number
    
lst_fibonacci

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

## Dictionary Practice Questions

In [74]:
Mobile_phones={'Android':{"Mobile_type":'Touchscreen',"OS":['Lollipop','Orea'],"Battery":{"Size":"3500mAH","Duration":"5hr"}},"Iphone":{"Versions":['IOS14,IOS15'],"Models_available":['Iphone10,Iphone_xr','Iphone_pro_max']},"Windows":{'OS':'Windows10','Mobile_available':['Lumia'],"Battery":{'type':'lition_ion'}}}

In [75]:
import json

In [77]:
json.dumps(Mobile_phones)

'{"Android": {"Mobile_type": "Touchscreen", "OS": ["Lollipop", "Orea"], "Battery": {"Size": "3500mAH", "Duration": "5hr"}}, "Iphone": {"Versions": ["IOS14,IOS15"], "Models_available": ["Iphone10,Iphone_xr", "Iphone_pro_max"]}, "Windows": {"OS": "Windows10", "Mobile_available": ["Lumia"], "Battery": {"type": "lition_ion"}}}'

## Ordered Dict

An ordered dictionary makes the dictionary in the order in which the keys are insered

Let's understand the difference between Dictionary and Ordered Dictionary

In [87]:
dict1={
'1': '1',
'2': '2',
'3': '3',
'4': '4',
'5': '5',
'6': '6',
'7': '7',
'8': '8',
'raj':21.2,    
'inder':'556',
'9': '9',
'10': '10',
'11': '11'
}

for k,v in dict1.items():
    print("key is-->",k ,"value is---->",v)

key is--> 1 value is----> 1
key is--> 2 value is----> 2
key is--> 3 value is----> 3
key is--> 4 value is----> 4
key is--> 5 value is----> 5
key is--> 6 value is----> 6
key is--> 7 value is----> 7
key is--> 8 value is----> 8
key is--> raj value is----> 21.2
key is--> inder value is----> 556
key is--> 9 value is----> 9
key is--> 10 value is----> 10
key is--> 11 value is----> 11

In [88]:
from collections import OrderedDict

In [94]:
dict1={'ravi':'10',"rajnish":'21','inder':'33','aman':'21'}
list(OrderedDict(sorted(dict1.items())))

['aman', 'inder', 'rajnish', 'ravi']

In [97]:
lst=list(dict1.items())
lst[0]

('ravi', '10')

In [100]:
x=range(2,51,2)

for n in x:
    print(n)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
dict1={"inder":32,"sid":21,"aman":22}

dict1={"sid":21,"aman":22,"inder":32}

In [110]:
dict_words={"key1":['inder','preet'],"key2":['preetat']}

for k in dict_words:
    print("the key1 is",k)
    print("the value is--->",dict_words[k])
    for j in range(len(dict_words[k])):
        if((dict_words[k][j][0]=='p') and (dict_words[k][j][-1]=='t')):
            print("This string",lst2[j])

the key1 is key1
the value is---> ['inder', 'preet']
This string preet
the key1 is key2
the value is---> ['preetat']
This string inder

In [107]:
lst2=['inder','preet']
for j in range(len(lst2)):
    if( (lst2[j][0]=='p') and (lst2[j][-1]=='t')):
        print("This string",lst2[j])

This string preet